[2020-03-23 20:41] ToonvanStrijp opened #1 "high kernel_task CPU"
Heey @jaromeyer, I'm trying out your repo and the boot seems smooth as the overall repo. But I'm experiencing high CPU usage by the kernel_task process. Any idea how to debug this, or what is the cause of this?

<img width="1072" alt="Screenshot 2020-03-23 at 21 33 42" src="https://user-images.githubusercontent.com/11893063/77361075-dbc1a880-6d4e-11ea-9591-9464b7087f0c.png">

[2020-03-23 20:55] jaromeyer commented on #1
I'm pretty sure you have touchscreen enabled and like I wrote in the other issue the touchscreen runs in polling mode which results in a constant kernel_task usage of 15-30%. The guide tells you how to disable the touchscreen. After that, the kernel_task usage will only spike when touching the trackpad because it is using GPIO interrupts rather than constant polling.
Ah and maybe rebuild your kext

[2020-03-24 23:06] jaromeyer commented on #1
@ToonvanStrijp did the audio get any better with my repo? And could you lower kernel_task usage by disabling the touchscreen?

[2020-03-25 08:37] frbuccoliero commented on #1
I bet jaromeyer is right, my non touch 9570 has no kernel_task problem at all. This issue has been found in other EFIs too, touchscreen seems to be broken af.

[2020-03-25 10:44] toonvanstrijp commented on #1
@jaromeyer the audio got way better! :) and using the patch to disable touchscreen fixed kernel_task usage! :)

[2020-03-25 10:44] #1 closed

[2020-03-25 11:32] jaromeyer commented on #1
@ToonvanStrijp good to hear! If you keep using my repo, please report back if you face the same issue with it. Ive never had a single earrape noise since im using this setup

[2020-03-25 11:38] ToonvanStrijp opened #3 "touchpad clicked state issue"
Alright this issue is hard to explain but I'll do my best.

When dragging windows I click down on the touchpad (clicky sound) and drag the window to the desired location. Then I let go the click by lifting my finger slightly, but the tip of my finger keeps touching the touchpad. It appears that `macos` still thinks I'm holding it down since for a short amount of time the windows that I was draggin

[2020-03-25 11:52] jaromeyer commented on #3
I know exacetly what you mean. It has been annoying the heck out of me too. But like you have said every repo has the same problem. It seems to be a bug in VoodooI2C or just the combination with exactly this trackpad. Unfortunately there is no other driver with anywhere near the performance and features of VoodooI2C.

[2020-03-25 13:05] toonvanstrijp commented on #3
Alright then I'll report the issue over there and hope that someone knows what's going on.

[2020-03-25 17:44] toonvanstrijp commented on #3
@jaromeyer I think this issue will be fixed soon: https://github.com/alexandred/VoodooI2C/issues/208

I'm not sure this solves it, but it sounds like it? :)

[2020-04-15 18:33] frbuccoliero commented on #3
@ToonvanStrijp A new VoodooI2C version has been released 8 days ago, did you manage to install it to see if the problem has been solved?

[2020-04-15 20:49] toonvanstrijp commented on #3
@frbuccoliero not yet, but I'll try it out soon :)

[2020-04-21 11:17] jaromeyer commented on #3
with version 2.4 it seems to be even worse. now it isn't just stuck for a few seconds after releasing the physical click, but until you completely lift your finger. 2.3 worked better in that aspect. but while digging into that issue i was able to fix the high kernel_task usage when touching the trackpad. now it should always stay below 10%.

[2020-04-21 14:14] jaromeyer commented on #3
@ToonvanStrijp just got a custom build of VoodooInput that completely fixes the drag issue and keeps kernel_task under 6%

[2020-04-21 14:14] #3 closed

[2020-04-22 11:37] toonvanstrijp commented on #3
@jaromeyer did you put this kext inside your repo already?

[2020-04-22 12:41] jaromeyer commented on #3
@ToonvanStrijp yup

[2020-04-22 13:03] frbuccoliero opened #7 "iMessage not working but other services do work"
Hi guys, i'm currently writing from my Dell XPS 9570 running a smooth Catalina 10.15.4 with everything working fine.

I replaced my stock Killer wifi card with a DW1820a that i know isn't the best but does its job. Infact wifi speed is great, bluetooth works fine and i have all BT/WiFI Apple's magic stuff working: Handoff, Continuity and Airdrop. App Store works fine too and iCloud sync is smooth.

[2020-04-22 14:35] attilagyorffy commented on #7
I have the same issue, clered NVRAM, used the same PlatformInfo values as I used previously (using back then Clover)

[2020-04-22 14:59] frbuccoliero commented on #7
I don't understand
1. if you did solve
2. if you went back to clover

[2020-04-22 15:18] attilagyorffy commented on #7
3. none of the above. I had Clover where iMessage was working. Now, using this repository and OC, I replaced the values in `config.plist` with the values I had in the previous Clover config, hoping to be able to get the same functionality but it does not seem to work.

[2020-04-22 16:14] frbuccoliero commented on #7
I got it, looks like OC config is missing something from clover's...

[2020-04-22 16:15] frbuccoliero commented on #7
Maybe you can try reporting your issue [here](https://github.com/acidanthera/bugtracker/issues) to OC creators and link this other discussion there so they can see it.

[2020-04-22 22:32] jaromeyer commented on #7
I don't think its an issue in OC itself, but rather a misconfigured setup.

[2020-04-23 01:13] ToonvanStrijp opened #10 "OC: failed to load configuration"
I'm trying to run your latest master branch.

1. I download this repository
2. I copy the EFI folder to the EFI Partition
3. Restart my Laptop.
4. Laptop is stuck with the message: "OC: failed to load configuration"

Any idea what is going on? :)

[2020-04-23 07:53] attilagyorffy commented on #10
You see, the repo currently contains multiple configurations for different models (4K touchscreen, 1080p FHD, one for DW1820 wireless, etc). I'm no OC expert but I think there may be a missing step in the documentation. You need to pick the config file that matches your model and copy that as `config.plist`. After that you will have to edit the SMBIOS, MLB, etc variables to have unique configurati

[2020-04-23 18:56] jaromeyer commented on #10
exactly. i have added 4 config.plist for different setups but forgot to edit the documentation. OC will always read config.plist and unlike with clover, you cant select another config, so you have to rename the config that fits your setup to config.plist

[2020-04-23 18:56] #10 closed

[2020-04-26 11:25] attilagyorffy commented on #7
I managed to get iMessage up and running, however it seems to "forget" the account I've added after a while. (Not sure if that's happening after a reboot or whether it's related to an NVRAM reset though)

[2020-04-27 08:16] frbuccoliero commented on #7
What changes did you make in order to make it work?

[2020-04-27 15:16] attilagyorffy commented on #7
It seems that it's not working actually after a reboot.

[2020-04-27 15:17] frbuccoliero commented on #7
But just for interest, what did you do?

[2020-04-27 15:23] attilagyorffy commented on #7
I rebooted my machine, it seems to have logged out by itself.

[2020-04-27 15:24] frbuccoliero commented on #7
 No i mean, what did you do to make it work in the first time?

[2020-04-28 07:58] attilagyorffy commented on #7
I regenerated the documented 3 values via Hackintool and replaced my original entries in `config.plist`, removed the iMessage related files from caches, rebooted, reset NVRAM.

[2020-04-28 07:59] frbuccoliero commented on #7
I understand.. so nothing changed at all btw, it kicked you out...

[2020-04-28 10:05] attilagyorffy commented on #7
It seems so

[2020-04-28 19:16] frbuccoliero commented on #7
I solved following this: https://dortania.github.io/OpenCore-Desktop-Guide/post-install/iservices.html

I was missing the part in which it says to delete the Keychain values. It was absent in all the other guides. I also changed serial, MLB and UUID to make sure it makes no problem. All working dudes!

[2020-04-28 19:16] #7 closed

[2020-04-28 19:32] attilagyorffy commented on #7
Thanks @frbuccoliero I'll try it out.

[2020-04-29 22:34] ToonvanStrijp opened #14 "HDMI not working"
I tried connecting my LG TV via HDMI but the laptop didn't recognise any screen. I'm not sure what version of HDMI the TV has. But I think it's version 2. Also I'm using the 9570 4K version.

I don't see anything mentioned about HDMI support so my guess is, that this isn't implemented yet?

[2020-04-30 06:28] frbuccoliero commented on #14
FHD here. Connecting to a FHD monitor it works smoothly. Recognized as external screen, can drag the screen position to fix cursor while going from a screen to the other, can mirror...
Try out another HDMI cable maybe.

[2020-04-30 06:31] frbuccoliero commented on #14
Btw in documentation branch @jaromeyer added "2560x1440@144Hz over HDMI and 4k@60Hz over DisplayPort have been tested."
You can try downscaling screen quality to match the max allowed.

[2020-05-01 16:47] toonvanstrijp commented on #14
@frbuccoliero I got to try it out on another screen and this time it worked flawlessly! So I guess it was either the cable, or the TV that didn't support it.

[2020-05-01 16:47] #14 closed

[2020-05-05 16:04] qinkangdeid opened #15 "No ''Use standard function keys'' Options"
thank you for providing a complete configuration file. with this configuration, all functions are very normal，there is only one problem，I don't see the "Use standard function keys" option in the settings.
![image](https://user-images.githubusercontent.com/17582522/81087748-a94dc280-8f2c-11ea-9b25-f1056e078058.png)

Apple ’s website describes it this way：
![image](https://user-images.githubusercont

[2020-05-05 16:37] frbuccoliero commented on #15
I'm not hundred percent sure but you can switch the fn-mode both in the BIOS and using Fn+Esc (you see it has a little Fn lock) this way you can switch between Media/brightness control and F1-F12 Keys as default.
Of course you can use the other one pressing Fn while using it

[2020-05-05 19:38] jaromeyer commented on #15
this option is only available for apple keyboards. on a real mac the f keys and the fn get sent separately to the os. thats why you can then tell the os what to do if fn is pressed or not. on the xps the firmware handles the fn key and it never gets sent to the os so the os can only receive the f1-12 keys alone but not fn. that's why f1-12 are always used as f1-12 and not special functions by the

[2020-05-05 19:38] #15 closed

[2020-05-11 08:03] SmartRu opened #16 "Thunderbolt egpu doesn't work in catalina"
As the titile the gpu(vega56) can't boot into osx but it works in windows,any knows how to deal with it?

[2020-05-12 07:34] jaromeyer commented on #16
im not using thunderbolt myself, but have you tried setting Thunderbolt Adapter Configuration to "all on, no security" and selecting BIOS enumeration?

[2020-05-12 11:21] PuPuppru commented on #16
Yes,I did that,and with LuletterSoul's efi the system can recognize the egpu,although the second monitor still doesn't work

[2020-05-12 11:22] PuPuppru commented on #16
I think maybe u can try this https://github.com/LuletterSoul/Dell-XPS-15-9570-macOS-Mojave/issues/4#issuecomment-506429102

[2020-05-13 03:24] PuPuppru commented on #16
I add those ssdt into the efi ,the system can recognise the thunderbolt port,but it still can't find egpu ports.

[2020-05-13 06:10] frbuccoliero commented on #16
With that patch you can hotplug thunderbolt? Wow 😮
Let's get this eGPU working then. Are you sure isn't there any additional driver provided by the eGPU manufacturer to install?

[2020-05-13 17:57] PuPuppru commented on #16
ummm，in fact , it isn't completely hotplug, need to connect the devices before booting, and my eGPU  is vega56 so I don't think I need to install any driver

[2020-05-20 07:43] andresandiah opened #17 "Trackpad works fine under Catalina but doens't work at all in Mojave."
As the title says. I installed Catalina and worked flawlessly with your EFI, sadly it is not working correctly with Mojave, the trackpad seems to be "disabled" (works fine in opencore). Is there anything I can do to fix the issue?

I had to go back to Mojave because of some unsupported software I have to use in mojaves (32 bit stuff)

[2020-05-20 07:44] frbuccoliero commented on #17
Did you try using PrntScn button (right to F12) that enables/disables trackpad?

[2020-05-20 08:12] andresandiah commented on #17
Yes. When i tried installing Catalina it was working perfectly.
Used the same EFI to go back to Mojave and it stopped working right away.

[2020-05-20 08:13] frbuccoliero commented on #17
Ok, i assume you have the last VoodooI2C. Try downgrading of some version https://github.com/VoodooI2C/VoodooI2C/releases

[2020-05-20 08:22] andresandiah commented on #17
Thanks man! I tried going back to 2.3 before and didn't work. I guess i didn't go far enough.
V 2.2 worked!

[2020-05-20 08:22] #17 closed

[2020-05-21 16:50] andresandiah opened #18 "Fans always on. Even on battery power under low usage."
As the title says, is it normal to have low CPU usage and still have the fans always on?
They are not at full speed, neither the CPU is hot but its just annoying to hear the fans on all the time.
I remember last year when i used mojave with clover didn't have this problem. I really like OpenCore, don't feel like going back to Clover :/

[2020-05-21 21:53] jaromeyer commented on #18
when just doing normal work and browsing the internet my fans stay off. what is your cpu usage and your temps? as far as i know the fans are controlled by the bios and in windows it was way worse for me. you cant really change anything about the fans being on while the cpu is resting at 50deg

[2020-05-22 00:56] andresandiah commented on #18
With my CPU Clock on 800mHz - 1.2 GHz and the cpu is resting at 37 degrees. Still the fans are always on. Not super noisy but on.

[2020-05-23 14:52] theeno513 commented on #16
have you solve the problem?

[2020-05-24 10:09] theeno513 commented on #16
I plan to buy a mantiz and rx580, but I'm wondering if it can work.

[2020-05-25 12:40] jaromeyer commented on #18
ok that doesnt sound right. what cpu do you have? and have you tried generating your own CPUFriendDataProvider.kext or undervolting?

[2020-05-25 12:50] frbuccoliero commented on #18
Or maybe if you have a touchscreen model oyu have high kernel_task usage that makes your fan go 100%

[2020-05-25 13:35] fiksion opened #19 "9570 Doesn't achieve S2 Sleep"
Thanks for making this. It was super easy to swap from Clover.

I notice that the computer never achieves S2 sleep as Clover did. It seems like it's sleeping, but the network is still accessible and I can't still remotely log into (ssh) the computer when it seems like it's sleeping: the display turns off, the fans stop. It also "wakes" too fast, which leads me to believe it's like when you select

[2020-05-25 14:02] fiksion opened #20 "Thunderbolt 3 storage enclosure not working"
I have a Thunderbolt 3, NVME storage enclosure (Orico) that I used to use with Clover that does not recognize with OpenCore. Both require booting with the device attached, but when I boot up using OpenCore, the disk/enclosure is never recognized. Bios is set to BIOS enumerated. I wish I had another Thunderbolt 3 device to verify, but that's the only thunderbolt device I have. The USB-C port works

[2020-05-25 16:58] jaromeyer commented on #19
did you apply the power management settings mentioned in the readme?

[2020-05-25 17:09] fiksion commented on #19
Yep, including the optional line.

[2020-05-26 07:22] jaromeyer commented on #19
hmm are you talking about hibernation/suspend to disk? thats disabled because its buggy on hacks

[2020-05-26 11:05] fiksion commented on #19
Yes, I know S4 sleep is disabled, but you should still be able to achieve S2 sleep, a low power mode where devices/peripherals are powered off....disk, network, USB, etc. You shouldn't be able to log into the computer remotely (ssh) in the state.

[2020-05-27 13:44] jaromeyer commented on #19
ive updated the repo to opencore 0.5.8. maybe try the latest version of the EFI again. im pretty sure that my xps is sleeping correctly

[2020-05-27 13:58] fiksion commented on #19
Yeah, that didn't work at all. I can't boot my Mac now. Any suggestions? The boot disk no longer shows up on the boot menu.

[2020-05-27 15:56] fiksion commented on #19
ok got it to boot...now to test sleep

[2020-05-27 16:08] fiksion commented on #19
OK, same result. But here's more information. This only happens when it's plugged into power. When it's on battery, it will achieve S2 sleep.

[2020-05-27 16:29] fiksion commented on #19
Try this.

1. Open System Preferences -> Sharing
2. Enable Remote Login
3. Get the IP address of your computer
3. Unplug power from XPS9570
4. Close the lid
5. Wait until the fans stop or wait 2 minutes
6. ping the IP address of the XPS from another computer

You should see a bunch of Request timeouts because the computer is sleeping correctly. Then open the XPS and plug in the power and try the e

[2020-05-28 13:24] fiksion commented on #19
Also, I use an App call Scenario, which allows you to run AppleScript at triggered events. Sleep and wake are two of those events. Neither of them run scripts when the 9570 is powered.

[2020-05-28 19:13] ichazz opened #21 "Laptop randomly hangs"
I have went through your guide a couple of times now (including the newly updated EFI from a few days ago. I am finding that the laptop will randomly hang and i can't find a pattern, it seems utterly random. Every part of laptop seems to be working perfectly otherwise.

Do you think this could be a thermal issue? I haven't undervolted the CPU or repasted.

Another possibility is I installed a 2tb

[2020-05-28 19:20] frbuccoliero commented on #21
I’d exclude the ssd since me and @jaromeyer  have both the wd blue (512 gb and 1tb)

Is the pc freezing or just slowing down?

[2020-05-28 19:32] ichazz commented on #21
Ok, that's great news re the SSD.
The PC is completely freezing. The screen stays active but the mouse/keyboard stop responding. I have checked to see if the print screen has disabled one or other, but nothing.

[2020-05-29 05:37] PuPuppru commented on #16
Sorry,still no idea to fix it

[2020-05-29 06:30] nguyentdat27 opened #22 "Headphone has no sound after updated to Catalina 10.15.5 (ComboJack installed)"
First, i want to say thank for your EFI folder, it works great on my XPS.
Yesterday, after updated MacOS to 10.15.5 my headphone jack didn't work anymore. There's no pop up windows show when i plug headphone. I tried reinstalling ComboJack but it didn't work.
Would you mind recommending a solution please?

[2020-05-29 06:36] frbuccoliero commented on #22
Did you try updating AppleALC?

[2020-05-29 07:20] ichazz commented on #21
Sorry, i totally forgot to mention that I have installed Mojave because I need to use Wine from time to time. I assumed this wouldn't be an issue since the computer boots and seems fast and responsive. But no stone left unturned.

[2020-05-29 07:21] nguyentdat23 commented on #22
After delete folder OC and put the lastest push of Jaromeyer, headphone and everything else are working great now.

[2020-05-29 07:21] #22 closed

[2020-05-29 09:19] frbuccoliero commented on #21
Mh.. never tried mojave. I fresh installed catalina since i got the pc. Why don't you double boot windows so you don't need wine anymore and you can install catalina. Or also a virtual machine might do the job

[2020-05-29 10:35] alexstuccer opened #23 "Bluetooth problem"
Hi there. I tryed several wasy to hackintosh xps 9570, with clover and opencore. I always succeded. And always got the same bluetooth problem.
I installed 2 different dw1560, and problem persists with both.
Airdrop works just receiving. It can't see other devices. To pair, is always a pain, it often fails, and sometimes I can see several items with the same name (I have a mouse m590 from logitech,

[2020-05-29 12:09] jaromeyer commented on #22
hmm weird. so you were able to fix it by installing the latest efi from this repo?

[2020-05-29 12:10] jaromeyer commented on #16
sorry guys but I don't have any thunderbolt devices myself, so I cant look into this issue for the time being

[2020-05-29 12:11] jaromeyer commented on #18
any update?

[2020-05-29 12:47] jaromeyer commented on #19
weird... I enabled remote login and SSH is working when the laptop is running. Then I closed the lid while it was being charged by the original power adapter and there was no open ssh session. After a few  minutes I tried to ping and ssh and there was no response.

[2020-05-29 12:50] jaromeyer commented on #20
sorry, I don't have any thunderbolt device so I can't really help you with this. are you saying that even a normal USB stick needs to be connected prior to boot?

[2020-05-29 12:56] jaromeyer commented on #21
I'm pretty sure it's not a thermal issue. Your SSD is connected over SATA, not NVMe, right? What exactly happens then it crashes? Does it freeze forever or do you get some sort of debug output? If its a kernel panic, there should be logs somewhere. Do you get that Apple popup telling something went wrong once you boot again? And I've never tried Mojave with OC. Like @frbuccoliero you could update

[2020-05-29 12:58] jaromeyer commented on #23
First of all, are you using the right config (not 1820)? Turn off BT, run `sudo rm -f /Library/Preferences/com.apple.Bluetooth.plist*`, and reboot.

[2020-05-29 13:03] alexstuccer commented on #23
I am using the right config, not the 1820. I'll try your suggestion and will let you know. Thanks for help!

[2020-05-29 13:04] ichazz commented on #21
So sorry for my ignorance but how do you mean SATA and not NVMe? I replaced the stock m.2 drive with a 2tb m.2 and i'm afraid that's all i know.

For the freezing, it locks entirely and is completely unresponsive. When i reboot it boots as if nothing happened, no apple message about a crash.

For mojave with OC i have two other hack desktops running it very happily (I'm on one right now in fact).

[2020-05-29 13:06] fiksion commented on #20
thumb drives and usb sticks work fine. It's my external hard drive adapter (non-thunderbolt) that has an m2 ssd in it that needs to be booted with it attached to get recognized.

[2020-05-29 13:19] alexstuccer commented on #23
ok, done that. Nothing changed. At the moment mouse is not giving any issue. But airdrop still works just receiving  (can't find any other device).  same problem with sidecar. The config I am using is config for 4k. My xps is a 4k, 8750h, 32 gb ram. I really can't understand what is going wrong...

[2020-05-29 13:41] nguyentdat23 commented on #22
i've re-installed EFI about 2-3 times, and also tried re-installing(run file uninstall.sh then run file install.sh, not overinstall) ComboJack then my headphone worked (now system is able to recognize when headphone plugged and show a pop up).

[2020-05-29 22:51] ichazz commented on #21
I did a fresh install with Catalina and everything was going fine as always but after about an hour the freeze occured.

[2020-06-01 17:31] mr-prez opened #25 "SpeedStep not working properly; periodically stuck at 800MHz"
I have the i5 8300H variant with the 4k screen.  I noticed that during normal use, the laptop will randomly lagging really badly, even if the CPU isn't at 100% usage.  I haven't tied it to any specific program or anything like that.  But whenever it does happen, the CPU is stuck at 800Mhz.  I'm using iStat Menu to verify the frequency.  The weird thing is that I've set 1200/1300 as the low frequen

[2020-06-02 09:24] jaromeyer commented on #21
under system report, you can see if your drive appears under SATA/SATA Express or NVMExpress. also have you tried generating your own CPUFriendDataProvider.kext? What WiFi card are you using? Try disabling both WiFi and BT in the BIOS

[2020-06-02 09:29] jaromeyer commented on #23
really weird. I don't have any apple devices so I have never tested airdrop, handoff, etc. myself. Have you set your own serial? To do so, follow [this guide](https://dortania.github.io/OpenCore-Desktop-Guide/post-install/iservices).

[2020-06-02 09:44] jaromeyer commented on #25
CPUFriendDataProvider should be the only thing you need to change for the 8300H. Are you sure you are installing the generated kext? It should overwrite the existing one in EFI/OC/Kexts. Other components linked to random lags are the touchscreen and unsupported WiFi cards. Have you tried disabling the touchscreen? And what WiFi card are you using?

[2020-06-02 13:04] ichazz commented on #21
System report says there is no NVMe device and the drive shows up under the SATA section.
I have also tried dissabling the SD card reader-the hang still occured.
I have not tried CPUFriendDataProvider.kext as I couldn't find a clear enough guide to confidently use it. I will look again and report back.
I am using a DW1830. After disabling both wifi+bluetooth the computer seems to work fine. I then

[2020-06-02 14:26] alexstuccer commented on #23
Ok, I have my own serial. I didn't generate it with the tool named in the guide you linked. I used my old parameters generated with clover configurator (as I said, the problem was already present with clover). I already thought it could have been a smbios problem, and I tryed several with clover, nothing changed. In all my attempts I fell in the category "We’re sorry, but this serial number isn’t

[2020-06-02 21:08] alexstuccer commented on #23
Tryed with new smb, serial, etc, following the guide you linked. Nothing changed. Problem may be somewhere else. :S

[2020-06-03 01:07] mr-prez commented on #25
Yes, I replaced both the CPUFriend.kext and CPUFriendDataProvider.kext in EFI/OC/Kexts.  I have the touchscreen disabled both in BIOS and replaced the SSDT-TPDX.aml.  Maybe disabling it in both places is causing an issue?  For wifi, I'm using the DW1830.  I attempted to fix the issue by disabling SpeedStep in bios but that's being ignored as well.

[2020-06-03 06:47] frbuccoliero commented on #23
Very strange, since many recomended DW1560 for native support with hackintosh. I'm using a 1820a with the fix in the repo and i also added BT4LEContinuityFixup to get Airdrop and handoff working perfectly. For other problems, i really don't know, maybe you have an unsupported version of the card (every model has "submodels" and some of them are reported working better than others)

[2020-06-03 08:05] alexstuccer commented on #23
I must be quite unlucky then, because I tryed 2 different dw1560, and got the same issue. Anyway, a dw1830 is on the go, so as soon as it arrives, I'll let you know if swapping card will solve the problem. Thanks for your support.

[2020-06-05 17:27] marcinkk opened #26 "Pls help"
Hey, how do you set the keys to adjust the screen brightness on a laptop keyboard ?? Right now it's fn + f12 and fn + key pause. My bootloader is opencore. In my laptop acer v3-371, the shortcut from adjusting the screen brightness on the keyboard is the shortcut fn + left arrow key and fn + arrow right key.

[2020-06-11 14:26] attilagyorffy commented on #25
@mr-prez just a random thought but have you also regenerated the kext cache after replacing them in /EFI/OC/Kexts?

[2020-06-11 20:36] alexstuccer commented on #23
every problem I had seems to be gone with dw1830. God knows why 2 dw1560 didn't work :S

[2020-06-12 07:26] frbuccoliero commented on #23
Very happy to hear this!! Enjoy your beast.
On 11 Jun 2020, 22:36 +0200, alexstuccer <notifications@github.com>, wrote:

[2020-06-12 13:20] #23 closed

[2020-06-15 10:07] BradleyHo opened #27 "AppleALC.kext static noises from 3.5 mm jack"
I seem to can't get macOS to output from the 3.5 mm headphone jack. It has a bunch of static noises as well as a more muted volume. Blasting it at full volume is even worse. The internal speakers are fine, however. I wonder if there is a fix.

[2020-06-15 10:08] frbuccoliero commented on #27
https://github.com/jaromeyer/XPS9570-Catalina#-audio

[2020-06-15 10:27] BradleyHo commented on #27
Solved. Thanks!

[2020-06-15 10:27] #27 closed

[2020-06-15 10:32] BradleyHo commented on #23
Is anyone else using a Fenvi card? It's supposedly a rebranded Broadcom card. Wi-Fi works but for some reason the Bluetooth can't be activated from System Preferences. It worked on Windows 10 strangely.

[2020-06-15 10:42] frbuccoliero commented on #23
Try here https://www.reddit.com/r/hackintosh/comments/afzwgc/fenvi_fv_t919_bluetooth_not_working/?utm_source=share&utm_medium=ios_app&utm_name=iossmf
On 15 Jun 2020, 12:33 +0200, BradleyHo <notifications@github.com>, wrote:

[2020-06-21 21:53] mr-prez commented on #25
@attilagyorffy Wow, no.  I'm used to the manual kext placement with Clover installs and just didn't make any connection to rebuilding kext cache since it's not in its "normal" place. That actually may be it because I just upgraded to the six core version of this laptop and with additional thermal pads its running cooler than my old 4 core version..but still has the 800mhz issue, albeit *very* infr

[2020-07-01 09:48] mr-prez commented on #25
So I've concluded that this issue has absolutely nothing to do with MacOS, configuration settings, etc.  It's all due to Dell's shoddy thermal design.  The VRMs overheat which leads to _power_ throttling; limiting voltage and thus clock speed.  This is not CPU temperature throttling.

I _mostly_ solved this by using guides like [this](https://www.ultrabookreview.com/14875-fix-throttling-xps-15/) a

[2020-07-01 09:49] #25 closed

[2020-07-01 11:25] jaromeyer commented on #25
nice that you were able to find the issue and fix it. Still, it is very weird that this was happening for you. I re-pasted both CPU and GPU and I'm running quite a strong undervolt. Maybe mine was throttling too before undervolting? Don't really remember lol. If you want I can give you more info about VoltageShift and how to make it apply the settings after waking from sleep. Took me quite a while

[2020-07-25 08:13] ichazz commented on #21
Just a heads up, I replaced the card with an 1820a and now everything works perfectly! Thank you so much for such a brilliant repo. I assume the old DW1830 was faulty.

[2020-07-25 08:13] #21 closed

[2020-08-09 09:29] BradleyHo opened #28 "OpenCore 0.6.0"
Any plans for OpenCore 0.6.0? And on another unrelated topic, how likely would you guys start a repo for Big Sur?

[2020-08-09 10:38] frbuccoliero commented on #28
Atm i can’t test 0.6.0 since i don’t have my second machine to use for backup and to ease the process. Will try probably in few weeks. About Big Sur, the community is moving forward to be prepared for it. I personally didn’t try the betas due to my small ssd space, but i think it boots. Jaro did an awesome job with this repo. I can’t exclude some minor issues but a major OC release will surely fix

[2020-08-12 20:56] jaromeyer commented on #28
Currently I don't see any reason to update to OC 0.6.0 and matching kexts for Catalina. I have been experimenting with BS about a month ago when everything was still very beta. I was able to successfully boot and run the installer. So the next update will be a completely revised EFI for Big Sur. I just dont know when. Currently working on some other projects

[2020-08-18 18:07] ideologysec opened #29 "Suggest Adding SMCDellSensors to repo"
Thanks very much for this repo - just bought an XPS 9570, and wanted to get OpenCore up and running. Your repo made this awesomely easy.

May I suggest that you add the SMCDellSensors kext? this enables things like iStat Menus to correctly pull platform sensor data, a big win in my book!

(it hooks into VirtualSMC from my understanding).

Will report back after attempting to enable this myself on

[2020-08-19 19:41] ideologysec commented on #29
Worked fine after adding the kext to Kexts and a section to the config file. Highly recommend!

[2020-08-28 15:19] frbuccoliero commented on #28
Just updated to 0.6.0 just updating the basic stuff and nothing else in the config, since they didn't add anything that needed to be tuned. All fine

PS: And of course updating the kexts.

[2020-09-04 20:24] fkscott opened #30 "Battery Stops Charging at 94%"
Getting decent battery life considering I have an NVME drive in the system still, but the laptop will not charge to 100%. Is anyone else having this issue?

Activity Monitor Stops at 94%
![Screen Shot 2020-09-04 at 4 18 02 PM](https://user-images.githubusercontent.com/43018547/92281966-b8d51c00-eeca-11ea-9d89-5f6ad38f439b.png)

CoconutBattery stops at 89.5% and also reads a negative battery temp

[2020-09-05 01:36] attilagyorffy opened #31 "NVRAM variables don’t persist between reboots"
I am having an issue whereby NVRAM variables don’t seem to persist between reboots. Having checked the OpenCore guides I followed the verification method but seems to be not working:

https://dortania.github.io/OpenCore-Post-Install/misc/nvram.html#verifying-if-you-have-working-nvram

Can anyone with the current EFI in the repo reproduce the verification as intended?

Thanks in advance.

[2020-09-05 21:28] fkscott commented on #30
Sorry guys turns out I had my BIOS set to stop charging between 85-90 🤦

[2020-09-05 21:28] #30 closed

[2020-09-05 22:04] jaromeyer commented on #30
Haha glad you were able to find the issue

[2020-09-05 22:06] jaromeyer commented on #29
Thanks for your input! Actually, I have been using the kext for quite some time now, just never felt the urge to update the repo.

[2020-09-05 22:06] #29 closed

[2020-09-05 22:07] jaromeyer commented on #31
Hm thats very weird. Have you done any changes to the config.plist under the NVRAM section?

[2020-09-05 22:11] jaromeyer commented on #28
Sorry I'm too busy to update my repo. For now I recommend using [xxxzc's repo](https://github.com/xxxzc/xps15-9570-macos). It should even boot Big Sur, but be aware that there is a bug in the GPU driver/Whatevergreen which results in the iGPU getting stuck in higher power states.

[2020-09-05 22:12] #28 closed

[2020-09-08 16:01] frbuccoliero commented on #26
This repo is for the Dell XPS 9570 only, where the brightness can be adjusted with F11 and F12 keys (or fn+f11 / fn+f12 according to your bios configuration)

[2020-09-08 20:19] attilagyorffy commented on #31
@jaromeyer My bad, had some updates to the repository, mainly kernel extension upgrades etc. Once I reverted to your version (besides having my personal MLB, SystemSerialNumber and SystemUUID) it seems to be working again.

[2020-09-08 20:19] #31 closed

[2020-09-15 22:51] #26 closed

[2020-09-17 18:43] Fyobl opened #33 "Hanging on install (Big Sur)"
![6A73E86A-36BC-4438-BD32-B7B465B78720](https://user-images.githubusercontent.com/66086323/93513469-cc966e80-f91d-11ea-8dcd-71798a2b0460.jpeg)

Stuck here after clicking the bootable installer via usb.

My system

Dell XPS 15 9570
i7 8750H
32GB ram
1TB NVMe
DW1830 WiFi

[2020-09-17 20:06] jaromeyer commented on #33
so youre not even reaching the apple loading screen or installer gui? what ssd are you using? and maybe try disabling verbstub.kext. its only needed to fix some audio issues.

[2020-09-17 20:44] Fyobl commented on #33
I don’t get to the installer gui. I can see the apple logo if I take -v out of boot arg.

I have KXG50ZNV1T02 NVMe Toshiba.

I’ll try what you suggested and get back to tiu

[2020-09-17 21:09] Fyobl commented on #33
Disabled verbstub.kext but no change still stalls.

Any other suggestions?

[2020-09-18 04:56] attilagyorffy commented on #33
@Fyobl have you had any success in installing Catalina using the EFI provided in the repo or is Big Sur your first attempt? Look up your SSD and its controller to see if others have had any success.

[2020-09-18 10:29] Fyobl commented on #33
@attilagyorffy i have Catalina installed fine with this config. Just issues with Big Sur.

[2020-09-18 17:40] jaromeyer commented on #33
Hm weird. Where does it get stuck without VerbStub? I will check tomorrow if I messed up when uploading the EFI or something

[2020-09-18 18:12] Fyobl commented on #33
It didn’t make any difference disabling verbstub.kext than I did having it enabled. Was still the same outcome and same screen.

[2020-09-18 20:20] jaromeyer commented on #33
that makes no sense because in you screenshot the last line is about VerbStub

[2020-09-19 05:37] Fyobl commented on #33
I will double check and report back

[2020-09-19 21:21] Fyobl commented on #33
@jaromeyer
![DB9822F4-4894-4A74-A51C-CF1E7CE39DE6](https://user-images.githubusercontent.com/66086323/93689429-5bde8600-fac6-11ea-99f0-1829f5e68c56.jpeg)

So this is we’re it hangs with verbstub.kext disabled.

[2020-09-19 21:57] Fyobl commented on #33
![image](https://user-images.githubusercontent.com/66086323/93689961-63ecf480-facb-11ea-8131-d0cfc63fe508.jpg)

Second attempt and it’s stuck here.

[2020-09-21 19:19] Fyobl commented on #33
@jaromeyer have you had chance to look over the EFI ?

[2020-09-21 20:02] jaromeyer commented on #33
im currently using the exact config from my repo and everything is working fine. check if all kexts are up-to-date

[2020-09-21 20:37] Fyobl commented on #33
@jaromeyer
All kexts are up to date.

I have been looking over the config for days now trying to find solutions.

Did you do an upgrade from Catalina or a clean install?

[2020-09-21 20:39] jaromeyer commented on #33
did a clean install onto a separate partition and then updated my main partition from catalina. both work fine

[2020-09-21 20:56] Fyobl commented on #33
@jaromeyer

That’s what I’ve done.

In Catalina I downloaded the update and made a new container in my partition for big sur.

[2020-09-22 15:39] Drowningfish223 opened #34 "igpu, power consumption, and voltage shift issues"
Hey @jaromeyer!

Great guide! I have the 4k i7 xps. Almost everything works so far on Catalina 15.6. The only issues I've noticed are that the IGPU will be stuck at 350 mhz after sleep sometimes, power management can be a bit weird, and voltage shift does not keep its offsets after sleep. I have disabled hibernate and thunderbolt, so I know they're not the problem.

The power management issue I ha

[2020-09-22 16:12] Fyobl commented on #33
@jaromeyer

I’m going to try a different method of installing Big Sur.

Going to use a VM image and clone it to my partition and see if it will boot into it from there.

That way I skip the whole install process.

Will report back once it’s done.

[2020-09-22 20:30] Fyobl commented on #33
@jaromeyer

Okay some progress!

I did a copy of the VM Big Sur and have cloned it to my internal drive.

It loads all the way and I can hear Siri talking to me to get the MacBook set up but it’s stuck in verbose mode and won’t come off that screen. I have taken the -v out of boot arg and it does the same thing but sits on the apple logo.

Any suggestions?

[2020-09-22 20:31] jaromeyer commented on #33
4k or fhd?

[2020-09-22 20:33] Fyobl commented on #33
4K

[2020-09-22 20:36] jaromeyer commented on #34
Personally I have the FHD model and I'm running the latest developper beta of BS. Make sure you are using the proprietary Apple GuC firmware by adding "igfxfw=2" to your boot args. Thats the only way I was able to get the iGPU clocking properly. When using the host scheduler I also experienced it getting stuck 300-350MHz after sleep. Also have you disabled your touchscreen? That saves quite a lot

[2020-09-22 20:39] jaromeyer commented on #34
And why does coconutBattery report a 16" MBP? You should be using a MacBookPro15,1 SMBIOS, nothing else.

[2020-09-22 20:39] Fyobl commented on #33
![image](https://user-images.githubusercontent.com/66086323/93935102-056a8500-fd1c-11ea-80f7-bd61ce6dc002.jpg)

@jaromeyer  it gets to here and I can hear Siri but this won’t go?

[2020-09-22 20:45] jaromeyer commented on #33
You probably need do patch your EDID to use the internal 4k screen. Can you try to boot with a screen connected via HDMI?

[2020-09-22 20:52] Fyobl commented on #33
@jaromeyer
Okay it shows a screen when I boot with my tv plugged in via hdmi.

So what is it I need to do to get the screen to work on my laptop?

[2020-09-22 20:58] jaromeyer commented on #33
You need to read my reply😅 Search for "Big Sur XPS 4K EDID" or something. If you cant find a solution, ill tell you what to do tomorrow. Im way too tired rn

[2020-09-23 06:11] Fyobl commented on #33
@jaromeyer

I appreciate your time and effort it helping me resolve this.

I haven’t had to patch an EDID before but looking at the guides I have found there’s a few possible ways to do it.

I have found my screens EDID but what solution is best to use?

[2020-09-23 08:05] jaromeyer commented on #33
send me the output of `ioreg -lw0 | grep -i "IODisplayEDID"`and ill give you a patched EDID that you can add here:
`Devices>Properties>PciRoot(0x0)/Pci(0x2,0x0)>AAPL00,override-no-connect`

[2020-09-23 09:13] Fyobl commented on #33
@jaromeyer

benjaminsmith@MacBook-Pro ~ % ioreg -lw0 | grep -i "IODisplayEDID"
    | |   | | |       "IODisplayEDID" = <00ffffffffffff004d108d1400000000051c0104a52213780e1518aa5335bc250c5054000000010101010101010101010101010101014dd000a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135364431000000000002410328011200000b010a2020005d>

[2020-09-23 12:12] jaromeyer commented on #33
ok so using propertree under `Devices>Properties>PciRoot(0x0)/Pci(0x2,0x0)` create a new entry called `AAPL00,override-no-connect` with the type data. Then copy the following patched EDID:
`00ffffffffffff004d108d1400000000051c0104a52213780e1518aa5335bc250c505400000001010101010101010101010101010101a6a600a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135

[2020-09-23 12:41] Drowningfish223 commented on #34
Oh shoot! I was a bit sleep deprived yesterday and I realized I never mentioned that I actually have a xps 7590. I created my own OpenCore config, but I was having sleep and power management issues. Your repo had ssdts that aren't in the dortania guide, so I decided it would be worth a try. I just had to exchange the ssdt-plug in the repo for the one I made myself and change the smbios. It worked

[2020-09-23 13:38] techsnakebo commented on #18
Hello yesterday I installed catalina in my XPS9570 (i7 8Th gen, 32GB RAM, 4K) with your opencore bundled packages, everything works great (great job!) but I have the same issue with the fans.. those never stops :(

[2020-09-23 14:05] Fyobl commented on #33
@jaromeyer
![image](https://user-images.githubusercontent.com/66086323/94023555-41e6c100-fdae-11ea-9c9b-5790d6afbe10.jpg)

That’s done the trick!

Thank you for you help in resolving this.

[2020-09-23 14:05] #33 closed

[2020-09-23 14:26] Fyobl commented on #33
Unresponsive trackpad after reboot? Any ideas?
@jaromeyer

[2020-09-23 14:28] jaromeyer commented on #33
make sure you havent disabled it using the printscreen button. otherwise pls open a separate issue

[2020-09-23 14:46] Fyobl opened #35 "Trackpad Issue"
The trackpad isn't responding in some cases.

Works in Catalina fine.

Works sometimes on Big Sur I have to restart and while verbose is loading I have to move my fingers over the trackpad for it to pick up on boot.

If I don't move my fingers over the trackpad and I get to the welcome screen I get an unresponsive trackpad.

[2020-09-23 14:47] Fyobl commented on #35
I have checked the "print screen" button and that's not the issue.

[2020-09-23 14:50] frbuccoliero commented on #35
Happened a couple times on Catalina, i cleared nvram and restarted with no issues.

[2020-09-23 15:15] Fyobl commented on #35
@frbuccoliero

Have tried that no success.

[2020-09-23 17:09] frbuccoliero commented on #35
Try with an older release of the kext VoodooI2C, maybe the new release is having some issues with Big Sur.

[2020-09-23 18:56] Fyobl commented on #35
@frbuccoliero

Have replaced the kext and everything seems okay for now.

Will test it out over the next few days and report back.

[2020-09-24 10:07] Fyobl commented on #35
well it works but its very jumpy... randomly jumping while I scroll round the screen

@jaromeyer
@frbuccoliero

[2020-09-24 10:31] frbuccoliero commented on #35
Are you sure it's not an hardware issue?  Did you have the chance to test it properly in windows?

[2020-09-24 11:29] Fyobl commented on #35
@frbuccoliero

Works fine in windows and in Catalina, Its strange... can't work out what's causing it.

[2020-09-24 12:15] frbuccoliero commented on #35
I don't know. Report carefully this problem on a issue on VoodooI2C 's repo.  I'm still pretty sure it's a kext problem.

[2020-09-24 13:16] ximiTech opened #36 "Can you add BCM4352 support?"
I tried, the bluetooth seems working, but wifi is not recgnized, I checked pci in hackintool it shows BCM4352. Can you support BCM4352 card?

[2020-09-24 15:48] techsnakebo opened #37 "Found this to fix the Hibernation issue"
I'm testing it

https://github.com/acidanthera/HibernationFixup

Hope it works

[2020-09-24 18:24] Fyobl commented on #35
@frbuccoliero @jaromeyer

Solved

Disabling the touchscreen by replacing the SSDT-TPDX.aml with the one in resources folder and touchpad is now working without jumping.

[2020-09-24 18:24] #35 closed

[2020-09-24 18:40] frbuccoliero commented on #35
Awesome! :D

[2020-09-25 19:07] wing199901 opened #38 "Big Sur installation stuck"
This happens when I installing the new Big Sur update.

My Spec:
XPS 9570
8750h
1080p
20GB RAM
Western Digital's Black SN750 500GB

![IMG_6084](https://user-images.githubusercontent.com/13567466/94306071-ea5e7600-ffa4-11ea-8254-885154ce46aa.jpg)

[2020-09-25 23:22] adityahota opened #39 "HDMI audio on 10.15.6"
Hello, I’ve been trying out your EFI and when I use my HDMI cable with 10.15.6, I am not able to get audio output to my TV. Does this happen to anyone else as well? I’ve noticed this across multiple EFIs—10.15.4 seems to be working fine but the latest versions (and 11.0 beta) have the issue.

[2020-09-26 12:50] prajals commented on #37
yes i've tested and sleep is  working properly with HibernationFixup.kext.

[2020-09-26 12:58] jaromeyer commented on #38
when exactly does that happen? when booting the installer or later?

[2020-09-26 12:59] jaromeyer commented on #37
nice to know! i have always just disabled hibernation tho

[2020-09-26 12:59] #37 closed

[2020-09-26 13:02] jaromeyer commented on #34
Ok that will make it more difficult. Imo 8 hours is pretty good and you wont be getting much more. About GuC, I've read that it can get stuck at 1GHz but it never happened to me with the latest Big Sur Beta. The host scheduler however (without igfxfw=2 always gets stuck at 350MHz for me). App Store is probably NVRAM related.

[2020-09-26 13:03] wing199901 commented on #38
when booting the preboot partition

[2020-09-26 13:06] jaromeyer commented on #36
Im sorry, but if AirportBrcmFixup doesn't support the card, you will have to find a solution yourself

[2020-09-26 13:07] jaromeyer commented on #39
I don't own a HDMI screen with audio, so can't comment on that

[2020-09-26 15:54] wing199901 commented on #38
It happens when Big Sur installation finished, I think it is about the kext?
Do I need to do the kextcache -i?

[2020-09-27 01:36] Drowningfish223 commented on #34
I cleaned NVRAM but the app store or safari still caused the igpu to lock to 1.15 ghz occasionally after sleeps. I downgraded to Lilu 1.4.4 and weg 1.3.8, which are the first combo to support GuC. I haven't had any power management issues since. I'll upgrade to Big Sur when it comes out and let you know how it goes. Thanks for your documentation!

[2020-09-27 19:29] jaromeyer commented on #38
Try to boot with an external screen

[2020-09-28 09:51] toonvanstrijp commented on #34
@jaromeyer where exactly do you need to specify the "igfxfw=2" inside the `config.plist`? Cause I can't seem to find any boot options there :)

[2020-09-29 06:40] AWV2804 commented on #38
When Big Sur is installing, it just goes black and restarts.

[2020-09-29 12:11] Drowningfish223 commented on #34
@ToonvanStrijp Add it in the NVRAM section of the config as a boot-arg

[2020-09-29 20:16] theilliteratemessiah commented on #38
Facing the same problem. System keeps restarting a few seconds after display turns on on the external display.

System: Dell 9570 i9

Please advise.

(Edit) There is a message on the screen that suggests the the restart was caused by a panic.

[2020-09-30 22:00] ToonvanStrijp opened #40 "Big Sur update beta 9 not working"
I'm trying to update my Big Sur installation but each time I hit `update now` it doesn't work. Any idea how to resolve this?

The error I got is: `The volume cannot be used because it is not snapshot booted.`

<img width="780" alt="Screenshot 2020-09-30 at 23 59 15" src="https://user-images.githubusercontent.com/11893063/94744271-f9fd0680-0378-11eb-9c75-ef467254575f.png">

[code]

[2020-10-01 04:55] ideologysec commented on #40
Interesting, looks like they're turning on the actual security model for Big Sur with this. I suspect OpenCore will need to be updated to deal with this; otherwise poking around the new security options in OpenCore 0.6.1 might help you out:

https://dortania.github.io/OpenCore-Post-Install/universal/security/applesecureboot.html#apecid

I would also see if you can download the full installer from

[2020-10-01 07:31] MathiasDeWeerdt opened #41 "Left cliking doesnt work properly on fresh install"
I did a fresh install of catalina 15.7 but left clicking on the touchpad on any application doesnt work. It 'zooms' the screen. Right clicking does work properly on the menu-bar on top does seem to fuction like expected.

[2020-10-01 08:02] MathiasDeWeerdt commented on #41
Note: Some reboots the touchpad does straight up nothing, rebooting it again works perfectly.

[2020-10-01 08:05] toonvanstrijp commented on #41
@MathiasDeWeerdt try disabling the force-touch option
<img width="780" alt="Screenshot 2020-10-01 at 10 04 05" src="https://user-images.githubusercontent.com/11893063/94783853-94873500-03cd-11eb-9d8e-a587d281ffcf.png">

Same for my on Big sur, sometimes the touchpad doesn't do anything (well..... veryyyyy slowly, like it moves once a minute for a few pixels). After a reboot it works fine.

[2020-10-01 08:07] toonvanstrijp commented on #40
@ideologysec I solved it somehow by downloading the `Big Sur` install app (as you mentioned the offline installer, don't know how tho haha).

[2020-10-01 08:07] #40 closed

[2020-10-01 14:35] jaromeyer commented on #40
run into the same problem when trying to update from beta 8 to 9. like ideologysec already mentioned, disabling `SecureBootModel` solved it for me

[2020-10-01 15:23] MathiasDeWeerdt commented on #41
@ToonvanStrijp Awesome! That worked. Thanks man

[2020-10-01 15:23] #41 closed

[2020-10-01 19:28] toonvanstrijp commented on #38
@AWV2804 @theilliteratemessiah

Run this python script: (save as file named: `edid.py` and run: `python3 edid.py`)
[code]

The output should look similar to this (yours would be different ofcourse):
[code]

Then use a code editor to change the `config.plist`
The go to `DeviceProperties > Add > PciRoot(0x0)/Pci(0x2,0x0)` add a new key named `AAPL00,override-no-connect` and put the data below it in

[2020-10-01 19:36] toonvanstrijp commented on #41
@MathiasDeWeerdt one tip:

If you use two fingers for right clicking disable the `Smart zoom` option under the `Scroll & Zoom` tab. (Smart Zoom adds a delay to right clicking)

[2020-10-01 22:31] Fyobl commented on #38
#33 <-- Had the same issue to the above guys a few days back.

Can Confirm this works as had the same issue a few days back but got it working with the above method.

[2020-10-01 22:36] Fyobl commented on #41
Disabling the touchscreen fixed this issue for me.

[2020-10-01 22:44] toonvanstrijp commented on #41
@Fyobl how did you disable it? Cause I've followed the instruction. But sometimes this problem still occurs.

[2020-10-01 22:48] Fyobl commented on #41
@ToonvanStrijp

[Here](https://github.com/jaromeyer/XPS9570-Catalina#-touchscreen)

Just swap the files over in you EFI and reboot.

[2020-10-01 22:49] toonvanstrijp commented on #41
@Fyobl yeah that's what I did. But the problem still occurs occasionally :grimacing:

[2020-10-02 08:52] theilliteratemessiah commented on #38
This is amazing, many thanks @ToonvanStrijp - Your solution has helped to install Big Sur successfully on my Dell machine.

Kudos to you!

[2020-10-02 08:55] frbuccoliero commented on #38
Haven't updated to Big Sur yet, is this sometihing you suggest to do anyway before proceeding to update or just in case i face this specific problem?

[2020-10-02 08:57] theilliteratemessiah commented on #38
@frbuccoliero  - Yes, I added that value to the config.plist on the USB keys EFI and on the internal SSD's EFI. Then I performed an in-place upgrade and it worked well. As always, YMMV.

Best of luck.

[2020-10-02 17:45] jaromeyer commented on #38
@frbuccoliero edid patching should only be required for the 4k model

[2020-10-06 12:29] khoa-nv opened #42 "Can anyone make iServices work properly?"
I already change Serial, MLB, UUID but I still cannot sign in to iMessage or Facetime?

[2020-10-06 12:36] frbuccoliero commented on #42
I also had a lot of trouble with imessage and stuff, check in the readme the link to the full procedure to reset keychain and start from scratch

[2020-10-06 12:48] khoa-nv commented on #42
I follow the link and go a 404 error :((( The post was moved!

[2020-10-06 13:08] frbuccoliero commented on #42
Oh sorry. Dortania moved the whole post-install docs to a new main page. Here it's the new link: [CLICK HERE](https://dortania.github.io/OpenCore-Post-Install/universal/iservices.html#customer-code-error)

[2020-10-06 14:53] khoa-nv commented on #42
Thank you, bro! Have you finished activating iServices for your device?

[2020-10-06 14:54] frbuccoliero commented on #42
Yes i have all working perfectly

[2020-10-06 14:55] khoa-nv commented on #42
Thank you, bro.

[2020-10-06 15:17] Fyobl commented on #42
@frbuccoliero sorry I know this is closed but I been looking at getting this working.

Do we have to emulate the NVRAM on our XPS?

[2020-10-06 15:18] frbuccoliero commented on #42
Are we still talking about iServices problems? Btw no, we don't.

[2020-10-06 15:28] eorsinijr commented on #40
@jaromeyer @ideologysec

I've downloaded OPenCore 0.6.1 but have never used it before.  Can you walk me through how to do this disable?  I'm having issues going from beta 8 to 9 and nothing has worked...

[2020-10-06 15:32] Fyobl commented on #42
@frbuccoliero

Yes still on the iService issue.

I can't seem to get the command to show if NVRAM is working to work.

`root@MacBook-Pro ~ # sudo nvram -c
nvram: Error clearing firmware variable csr-active-config: (iokit/common) not permitted`

SIP disabled with <67000000> in config.

Just didn't know if I needed to do this step but if we have NVRAM I guess I don't need to worry about this step?

[2020-10-06 15:57] frbuccoliero commented on #42
Yeah just skip that

Francesco Buccoliero
Software Developer
Engineering Student @ PoliMi
    @frbuccoliero
On 6 Oct 2020, 17:32 +0200, Fyobl <notifications@github.com>, wrote:

[2020-10-06 15:58] Fyobl commented on #42
I have done all steps in the guide suggested but the issue I get is:

Open messager
Login with my details
shows loading box then goes to the messages screen (Doesn't show me any of messages)
goes back to login screen

[2020-10-06 16:00] Fyobl commented on #42
@frbuccoliero

It states my WiFi can be en0 but others suggest I should do fakeethernet.kext?

how is it set up your end?

[2020-10-06 16:05] khoa-nv commented on #42
Yeap, I got the same problem!

[2020-10-06 18:26] Fyobl commented on #42
@frbuccoliero

I have also added ROM into my config and input my MAC address without the ":"

Any suggestions ?

[2020-10-06 19:13] frbuccoliero commented on #42
About en0, it should be set by default. In hackintool i can check that it's en0 built in. If it's not for you there's something wrong with wlan configuration. You should not need any extra kext for that.

About the error you get, it's exactly what happens if there are left traces of previous imessage attempts. I suggest you to clear all your smbios stuff, clear nvram, do the cleaning procedure aga

[2020-10-06 19:18] frbuccoliero commented on #42
Make sure to follow carefully the keychain part of the guide (https://dortania.github.io/OpenCore-Post-Install/universal/iservices.html#cleaning-up-your-appleid) deleting ALL the occurencies that match the ones in the black box. This step is crucial, i missed a few of them in the keychain and got your same error

[2020-10-07 08:11] jaromeyer commented on #42
what wifi card are you using?

[2020-10-07 09:43] Fyobl commented on #42
@frbuccoliero  I will do this now and report back once done.

@jaromeyer I have the DW1830

[2020-10-07 10:09] Fyobl commented on #42
@frbuccoliero

Done everything from scratch and still no joy.

I get a message asking me to put in my 6 digit code then it goes back to login screen.

[2020-10-07 11:21] frbuccoliero commented on #42
There is something wrong somewhere. Show me your hackintool > system > peripherals

[2020-10-07 12:46] CarstenK1 commented on #38
Maybe a stupid question, but since you're Setup worked fine for my XPS. For update to BigSur I just start MacOS, update the Efi Partition with new files, change the serial and do the update? I used the 4k config.plist

[2020-10-07 15:01] Fyobl commented on #42
@frbuccoliero

<img width="1062" alt="Screenshot 2020-10-07 at 16 00 20" src="https://user-images.githubusercontent.com/66086323/95348863-5d75bf80-08b6-11eb-9a9e-5dba7506afa1.png">

[2020-10-07 15:59] khoa-nv commented on #42
I had the same problem with @Fyobl. Sometimes it asks for a code, other times it doesn't, after a while of loading it come back to the login screen. But the weird thing is it happens to all my accounts except for one I can fully activate Facetime :))))

[2020-10-08 08:20] frbuccoliero commented on #42
I have no idea then, if you followed all the procedure it should just work. @jaromeyer anything to add?

[2020-10-11 19:28] Fyobl commented on #42
@jaromeyer any ideas dude?

[2020-10-11 19:39] khoa-nv commented on #42
@frbuccoliero Did you change the serial number and fix iService before you make a clean installation or did you install macOS and fix the iService after?

[2020-10-12 06:22] frbuccoliero commented on #42
I first installed macos with a non working wifi card so when i tried using imessage i got error. Then changed wifi card to 1820a but without cleaning anything and still got errors. At the end when i cleaned everything and started from scratch with new serial and new everything it worked smoothly. All of this after installing macos.

[2020-10-12 06:26] khoa-nv commented on #42
What does it mean of "cleaned everything and started from scratch"? Is it format your hard disk and reinstall macos?

[2020-10-12 07:13] frbuccoliero commented on #42
no, cleaned the previous attempts, changed serial and the others. never reinstalled macos

[2020-10-12 07:24] khoa-nv commented on #42
:( I have tried many times, I think the problem is with my account. I have an account can sign in but others can't. I also call to Apple Support but can't solve my problem!

[2020-10-12 08:40] Fyobl commented on #42
I have tried using a new account t and I also get the same error.

[2020-10-12 08:41] frbuccoliero commented on #42
Try linking a credit card to the apple account.

[2020-10-12 08:46] khoa-nv commented on #42
did you try with an old account that was created before 2017?

[2020-10-12 08:50] frbuccoliero commented on #42
My account was very old, 2015 i think.

[2020-10-12 09:06] khoa-nv commented on #42
I tried with 2 account created before 2017 and it working properly :))) I think that is the problem.

[2020-10-12 09:57] Fyobl commented on #42
I don’t have an account that’s older than 2017

[2020-10-12 10:16] khoa-nv commented on #42
How many accounts did you create with your phone number?

[2020-10-13 15:12] jaromeyer commented on #42
sorry guys im not using iServices myself

[2020-10-13 20:26] frbuccoliero commented on #42
Just one. My account is also linked to an iphone since 2015, has a credit card linked since 2015 and few purchases trough apple. So on apple side it's a perfect apple id, it was really impossible for me to believe that it wasn't working on this hackintosh, since i had it working on other two of them.

[2020-10-14 02:25] mr-prez opened #44 "Native Power Management"
This is more of a recommendation and solution than an actual issue.  I (and others from various threads) had the issue where during certain tasks, the CPU would power throttle down to 800Mhz even though temperatures were fine.  It seemed to be tied to heavy IO tasks.  I believe the solution to be letting MacOS natively manage power by disabling CFG lock.

CFG lock determines if the bios lets the O

[2020-10-14 06:39] Fyobl commented on #44
Is there any risk of bios damage when doing this?

[2020-10-14 07:49] mr-prez commented on #44
Aside from the normal stuff like making sure to do it while your laptop is charged and verifying the command you're typing, not really.  We aren't adding or removing functionality that hasn't already been coded into the BIOS.  All this does is switch the variable set at 0x5BD from "true" (0x01) to "false" (0x00), allowing an OS to directly control the processors C-States (CPU power modes) so we do

[2020-10-14 07:58] Fyobl commented on #44
Brilliant I will have a look at doing this tonight and see if it makes any difference on my 9570.

[2020-10-14 09:07] frbuccoliero commented on #44
Seems interesting. @mr-prez could you make a short step-guide here in the thread so we can link it in the main readme? Please also provide a link to all the material needed.

[2020-10-14 10:13] Fyobl commented on #44
Done.

There is an extra step us (9570) users need to check in BIOS so we can run `modGRUBShell.efi`.

Enabling "Allow legacy EFI ROMs" in BIOS.

When I didn't have this enabled I got a black screen with "-" in top left corner of screen when trying to boot system.

But the steps to do this are pretty simple, I will keep my eyes on how its proforming over the next few days.

[2020-10-14 17:13] mr-prez commented on #44
@frbuccoliero Sure, I'll do that below.
@Fyobl yeah, I had to do a bit of searching to figure that out haha.

**Native Power Management / Disabling CFG Lock - XPS 9570**

To begin we'll need a few tools:

- [modGRUBShell.efi](https://github.com/datasone/grub-mod-setup_var/releases)
- [VerifyMsrE2.efi from OpenCorePkg EFI/OC/Tools folder](https://github.com/acidanthera/OpenCorePkg/relea2-ses/latest

[2020-10-14 17:25] frbuccoliero commented on #44
Perfect, i'm including this in the readme in a pull request. About the config stuff, idk, there's a little mess about that. FHD/4K , 1820A/Not1820A , including also this would result in a little mess @jaromeyer don't you think so?
Maybe a quick python tool to easily switch between configs would be nice, i saw that in few other repos. Unfortunately for freetime reasons i can't really put much effor

[2020-10-14 22:19] mr-prez commented on #44
@frbuccoliero Honestly, manually adding the boot option in the BIOS is probably the easiest option.  This is something that will only need to be done once (or any time the BIOS is updated) so it may be too much to have a dedicated config for it.

However I wouldn't mind looking into that python tool you mentioned.  Do you have any more information on what it's called?  I couldn't find anything wit

[2020-10-15 07:59] frbuccoliero commented on #44
Yeah, about the config thing i said the same thing. About the python script, i don’t remember exactly what repository did have it. I’ll try to make a quick search later

Francesco Buccoliero
Software Developer
Engineering Student @ PoliMi
    @frbuccoliero
On 15 Oct 2020, 00:19 +0200, mr-prez <notifications@github.com>, wrote:

[2020-10-20 17:40] suprnova91 opened #47 "High CPU usage when using trackpad"
I've noticed battery drains rapidly when using trackpad. Process name Windowserver spikes up to 50 %.

[2020-10-20 17:43] toonvanstrijp commented on #47
@suprnova91 What laptop do you use? (If you have touch screen disable it). I'm using big sur and don't experience CPU spikes. I used to have the same problem but I think disabling the touch screen helps.

[2020-10-20 17:51] suprnova91 commented on #47
XPS 9570 with 1080p monitor and I7-8750H CPU. I disabled touch screen replacing the DSDT with the one in the resources folder and also disabled CFG Lock

[2020-10-20 18:01] Fyobl commented on #47
You updated all your Kexts? Maybe a new one might solve the issue?

[2020-10-20 18:03] Fyobl commented on #44
So far so good. Noticed a slight difference in performance and fans don’t come on randomly now.

[2020-10-20 18:16] toonvanstrijp commented on #47
@suprnova91  I'm currently running this pull request [https://github.com/jaromeyer/XPS9570-Catalina/pull/46](https://github.com/jaromeyer/XPS9570-Catalina/pull/46)

[2020-10-20 18:43] ideologysec commented on #40
@eorsinijr I would recommend forgetting about OpenCore if you're using Clover, and just downloading the newest/latest Big Sur Install.app or the combo update.

Edit: this is an OpenCore repo, are you using this repo on an XPS 9570? What specifically are you having trouble with? Disabling the security options is done in the config.plist. If that sentence doesn't make sense to you, I suggest diving

[2020-10-20 18:48] ideologysec commented on #40
@ToonvanStrijp the same way you'd make a regular OpenCore bootable installer: https://support.apple.com/en-us/HT201372 and then adding all of the OpenCore bits to the EFI partition so it will boot, and then booting from the USB and basically performing an install on top of the existing macOS install on your internal partition (which should preserve data)

[2020-10-20 21:39] Fyobl commented on #47
Try revert back and see if your still getting the issue?

[2020-10-21 13:59] jaromeyer commented on #44
Thank you very much for the extensive guide @mr-prez. Personally I have never had any problems with PM and throttling, but good to know that there is a solution for people who experience it. I think we can close this issue now.

[2020-10-21 14:01] jaromeyer commented on #40
@eorsinijr what exact problem are you facing?

[2020-10-21 14:02] jaromeyer commented on #47
use the default ssdt if you dont have a touchscreen

[2020-10-21 14:05] eorsinijr commented on #40
I'm running a MacBook Pro 2020 16inch, with an i9 and 32gb of mem, so it's no slouch.  However running the beta I would get overheating issues and random shutdowns/reboots and I couldn't figure out why.  I even wiped, went back to reg software, then back to the beta and still had the issues without many of my normal apps.  When trying to upgrade to beta 9, it would fail repeatedly, but not give a

[2020-10-21 15:11] Fyobl commented on #44
@jaromeyer all credit goes to @mr-prez i just tested it on my system :)

[2020-10-21 15:17] jaromeyer commented on #44
Whoops wrong tag🙈

[2020-10-22 21:17] jaromeyer commented on #40
Weird. I did a OTA from Catalina to Beta 3 I think and then OTA through all the following Betas and never faced any problems. OTA works like on a real Mac for me

[2020-10-22 21:48] Fyobl commented on #40
Same for me.

Only issue I have was going from beta 8 to 9 but that’s because of SecureBootModel.

Going from 9 to 10 worked fine aswell.

[2020-10-22 21:54] eorsinijr commented on #40
Weird. Everything worked great minus the random reboots and heating. You guys never had those issues? I want to get back on it cause I loved the integration with iOS14 and iPad14

[2020-10-22 22:16] Fyobl commented on #40
No random reboots and no heating issues for me... but I have taken my laptop apart and put better grade thermal paste in it.

[2020-10-24 20:14] gknyce opened #48 "XPS 9570 i7 4k touch blackout after big sur upgrade from catalina"
Hello thanks for your time and work, much appreciated. I have a problem. I install Catalina using the repo, screen works fine and is not blackout. After that when I try to install big sure beta 9 with the installer on USB, when the laptop reboot to finish the installation I get the apple background and looks like it finishes but after that I can't see anything on the screen, it goes black. I'm usi

[2020-10-24 21:46] Fyobl commented on #48
Have you added the EDID into your config?

#33 read this it might help

[2020-10-24 21:52] gknyce commented on #48
I did last week, but I scrapped that. I added pci location from using hackintool. HDMI works with external monitor.

[2020-10-25 05:05] Fyobl commented on #48
Have you tried to use verbose mode with the debug versions of opencore? Maybe something in the logs will help

[2020-10-25 13:06] jaromeyer commented on #48
then you probably did the EDID patch wrong

[2020-10-26 15:11] gknyce commented on #48
Using hackintool could I past my EDID here for you to patch it for me? The info from the tool says that the frame buffer matches with intel 655 and not the 630 iGPU.

[2020-10-26 15:33] Fyobl commented on #48
@gknyce

send me the output of `ioreg -lw0 | grep -i "IODisplayEDID"`and ill give you a patched EDID that you can add here:
`Devices>Properties>PciRoot(0x0)/Pci(0x2,0x0)>AAPL00,override-no-connect`

Copied from @jaromeyer

[2020-10-26 15:53] gknyce commented on #48
| |   | | |       "IODisplayEDID" = <00ffffffffffff004d108d1400000000051c0104a52213780e522daa5335bc250c5155000000010101010101010101010101010101014dd000a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135364431000000000002410328011200000b010a20200009>

[2020-10-26 16:47] Fyobl commented on #48
@gknyce

Im sure you just add `00ffffffffffff004d108d1400000000051c0104a52213780e522daa5335bc250c5155000000010101010101010101010101010101014dd000a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135364431000000000002410328011200000b010a20200009`

here

<img width="1256" alt="Screenshot 2020-10-26 at 16 41 25" src="https://user-images.githubusercontent.com

[2020-10-26 21:46] gknyce commented on #48
Thanks but it does not work. Should the upgrade to Big Sur from Catalina happen on the internal drive or external USB, meaning to copy it to the internal name or just from the usb.

[2020-10-26 22:20] Fyobl commented on #48
I just used the system update tool... but I got the black screen issue but with the EDID patch It worked like a charm

[2020-10-27 13:34] jaromeyer commented on #48
@gknyce Heres your patched EDID: `00ffffffffffff004d108d1400000000051c0104a52213780e522daa5335bc250c515500000001010101010101010101010101010101a6a600a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135364431000000000002410328011200000b010a202000da`
@Fyobl you have to patch it before injecting, otherwise it will do absolutely nothing because it will replac

[2020-10-27 13:35] jaromeyer commented on #48
also i did a normal OTA from Catalina to Big Sur.

[2020-10-27 13:41] Fyobl commented on #48
@jaromeyer How do i patch it ?

[2020-10-27 13:46] jaromeyer commented on #48
edit 4 bytes and then recalculate the checksum. heres a great [python script](https://paste.ubuntu.com/p/BNpzrQCMRg/)

[2020-10-29 17:28] godzillarzillo opened #49 "airdrop and sidecar?"
does sidecar and airdrop work with DW1560?

[2020-10-29 17:30] frbuccoliero commented on #49
I have DW1820A and they work well. DW1560 is more expensive and performant so in theory it should work too.

[2020-10-29 17:31] #49 closed

[2020-10-29 20:16] Fyobl commented on #49
I have the DW1830 and it works fine.

I also had the DW1560 before that and it worked fine.

[2020-10-31 20:23] gknyce commented on #48
Thanks @jaromeyer @Fyobl for your help, I finally got it working. I have EFI to boot Big Sur, I added vit9696 boot arg and also the patches EDID.

[2020-10-31 20:23] #48 closed

[2020-11-01 20:08] jaromeyer commented on #49
dw1820a here and sidecar with the latest iPad Pro works flawlessly (Big Sur and iPad OS 14)

[2020-11-01 20:10] #44 closed

[2020-11-02 22:06] ideologysec commented on #42
Had no issues - installed macOS with DW1830 card, generated serials per the guide, used an AppleID that is very old (my main account, 10+ years at this point), flawless. (2-step verification enabled).

What does the age of an AppleID have to do with anything?

[2020-11-02 22:09] frbuccoliero commented on #42
Some kind of apple server-side validation, empirically it works better with older accounts

[2020-11-03 08:36] Skraldefar opened #50 "Big Sur crashes when booting"
Hi

On my 4k i7 XPS 9570 i have gotten to the point where I could install Big Sur with the help of edid patch.
Now though, when booting from the SSD, the computer seems to crash at the following output:
calling npo_policy_init for ASP
calling npo_policy_initbsd for

And then it hangs.

Does anyone have any suggestions on what can cause this? I can run Catalina absolutely fine

[2020-11-03 11:28] Fyobl commented on #50
What SSD are you using?

[2020-11-03 11:33] Skraldefar commented on #50
A Samsung Evo 970 1tb

[2020-11-04 17:47] KSYMEK opened #51 "Black screen after upgrade from Catalina to Big Sur"
After upgrade to Big Sur I have black screen. On this stage even in verbose mode I also have black screen so I think I have issue with monitor output or iGPU settings. I am using defualt 4k settings. Any ideas?

[2020-11-04 20:08] Fyobl commented on #51
Have you patched your EDID?

[2020-11-04 20:10] Fyobl commented on #51
https://github.com/jaromeyer/XPS9570-Catalina/issues/33

[2020-11-04 21:05] KSYMEK commented on #51
No I don't. Is there any way to achieve it from windows?

[2020-11-04 21:06] Fyobl commented on #51
@jaromeyer can you work your magic here?

[2020-11-05 11:08] #42 closed

[2020-11-05 11:12] jaromeyer commented on #50
Looks like it is security related. The darwin-xnu sourcecode suggests that it happens during "Per-policy initialization"

[2020-11-05 11:14] Skraldefar commented on #50
I can take a video of the verbose output, if you can use that?`

[2020-11-05 11:15] jaromeyer commented on #51
Give me your original EDID and I can provide a patched version. There should be programs to extract it from Windows or otherwise you should be able to boot the Catalina recovery and use the terminal there.

[2020-11-05 11:56] KSYMEK commented on #51
Okay I just formatted my computer and reinstalled Catalina and patched EDID but now after update to Big Sur I have this issues. After that computer reboots. I have no issues to enter recovery mode.

![IMG_0008](https://user-images.githubusercontent.com/15861603/98238193-4df59f00-1f66-11eb-806e-00ebdb2f59aa.jpg)
![IMG_0009](https://user-images.githubusercontent.com/15861603/98238198-4f26cc00-1f66-1

[2020-11-05 14:53] KSYMEK commented on #51
Okay for now I fixed issue by adding NVM efi driver.** I'll keep issue open if I occur any new issue similar to this issue.

[2020-11-05 16:32] #51 closed

[2020-11-09 08:36] Skraldefar commented on #50
https://photos.app.goo.gl/vpqNfgz7QYcnQ65B6

[2020-11-09 14:54] jaromeyer commented on #50
are you sure it crashes or does it just disable display output because you didn't patch your EDID properly? have you tried attaching an external monitor via HDMI prior to booting?

[2020-11-09 15:15] Skraldefar commented on #50
I don't think so, as the computer restarts when this happens. As far as the edid patch, i have tried it, but dont know if i have done it right though...

[2020-11-09 15:53] Skraldefar commented on #50
Also happens when external monitor is attached. The point at which it crashes seems to be random though

[2020-11-09 16:09] Fyobl commented on #50
Have you patched your EDID?

[2020-11-09 16:11] Skraldefar commented on #50
I have run a script i found to find the values, it gave me the following, where i used the modified EDID:

Display EDID: 00ffffffffffff004d108d1400000000051c0104a52213780eab87a95335bc250c5153000000010101010101010101010101010101014dd000a0f0703e803020350058c210000018000000000000000000000000000000000000000000fe00464e564452804c513135364431000000000002410328011200000b010a20200059

Modified EDID: 00ffff

[2020-11-12 22:13] imraan-go commented on #48
After patchid EDID, is it running at 48 Hz or 60 Hz?

[2020-11-13 05:16] thespacemanatee commented on #38
@ToonvanStrijp How did you update that data field with your patched edid? It tells me that I am unable to update that field since the string isn't in hex.

[2020-11-13 08:19] gknyce commented on #48
Resolution is 4k, but then UI looks like 1080 @48hz

[2020-11-13 10:23] jaromeyer commented on #48
Pretty sure its 48Hz only for now

[2020-11-13 14:33] frbuccoliero opened #52 "KP updating from Catalina to Big Sur"
I was waiting for the final release to update to big sur, also looking at the discouraging issues you early-adopters faced with the betas. I updated OC to 0.6.3 and all kexts, all working good. I then proceeded to update to Big Sur and when booting the "macOS installer" entry from the picker... here the kernel panic
https://youtu.be/6vHIrUI1cQQ

My model is 1080p , no-touch so i don't need that sc

[2020-11-13 14:52] Fyobl commented on #52
What Kexts are you using?

Also could you upload your config.plist.

I personally am using OC 0.6.1 and have not updated my Kexts since that build.

Later on tonight I will pop 0.6.3 onto a USB and update all Kexts to test and see if I get the same issue.

[2020-11-13 14:55] frbuccoliero commented on #52
Here they are, i config i just removed serial and other personal stuff.

![Schermata 2020-11-13 alle 15 54 01](https://user-images.githubusercontent.com/14348908/99085428-73b71f80-25c8-11eb-8912-7b42c294b50c.png)
[config.plist.zip](https://github.com/jaromeyer/XPS9570-Catalina/files/5537504/config.plist.zip)

[2020-11-13 15:02] Fyobl commented on #52
Thanks. I will use your config and kexts to try and boot into my Big Sur later on and see if I’m getting the same issue.

I know it seems very obvious but have you cleared the NVRAM and tried again?

[2020-11-13 15:03] frbuccoliero commented on #52
nop, maybe i can try later

[2020-11-13 16:20] frbuccoliero commented on #52
Tried clearing nvram but nothing. Also tried updating from the usb but here another KP https://youtu.be/HtGQa3ZVseI

[2020-11-13 19:56] imraan-go commented on #48
How does it feel with 48Hz? is it usable? i think i'll feel dizzy running 48hz for a long time 🤕

[2020-11-13 20:06] attilagyorffy commented on #52
I have a similar issue, I’ve tried with a clean vanilla install, then after failing miserably, I’ve reinstalled Catalina and then used the software update tool to upgrade to Big Sur but getting a kernel panic. I’m on the FHD version as well, so figured the screen patch wasn’t necessary. My EFI is almost identical to @jaromeyer’s, with a single exception that I have regenerated my serial and other

[2020-11-13 20:42] chris54721 commented on #52
Try setting `Misc -> Security -> SecureBootModel` to `Disabled` in `config.plist`. Although this should not be needed with OpenCore 0.6.3, so this might be a different issue.

[2020-11-13 20:57] frbuccoliero commented on #52
Will try this later, but if it’s not needed in 0.6.3 I have little hopes. If it can help you to help me I have some updates: using a clean efi from the repo I was able to install it. Now in the opencore picker I have only macOS entry and no more installers entries, but here the problem again:
- if I boot it from my opencore efi, I get this kernel panic: https://youtu.be/McWsodKZ9uI
- if I boot fro

[2020-11-13 21:00] chris54721 commented on #52
The second KP looks very similar to the one I fixed with that change, so it could be worth a try.

[2020-11-13 21:01] frbuccoliero commented on #52
Ok I try asap then, I will need to change the plist from windows , any program to do it without corrupting it?

[2020-11-13 21:04] chris54721 commented on #52
Any (proper) text editor will do, it's an XML file

[2020-11-13 21:53] frbuccoliero commented on #52
Ok i did the change and I also enabled verbose but still a kernel panic: https://youtu.be/JZDryuUyQz8

[2020-11-14 06:19] Fyobl commented on #52
So...

I used your config.plist with updated Kexts and it booted into both Bis Sur and Windows.

I also updated my own boot loader to 0.6.3 and Kexts and it still booted.

[2020-11-14 09:49] frbuccoliero commented on #52
Really?? No way. Could you give me back the whole EFI you built around my config? Maybe i misplaced something...

[2020-11-14 10:59] frbuccoliero commented on #52
Updates:

- Remove NoTouchId from /Kexts and in config, since Dortania reports it being broken on Big Sur
- Edit csr-active-config da ZwAAAA== a /w8AAA== as suggested by Dortania for Big Sur
- Added target 83 for file logging

Nothing, no log

- I removed

[code]

under boot-args

Found the logs, they don't have the verbose but this strange log:

[code]

- Bring back to true the quirks: AppleCpuPm

[2020-11-14 12:09] jaromeyer commented on #48
Dunno, i have the FHD model

[2020-11-14 13:54] frbuccoliero commented on #52
Update:
A friend of mine kindly helped me building a new EFI from scratch based on the repo and on my config. I really don't know what exactly caused this issue but now I'm on Big Sur. Thanks to everybody.

[2020-11-14 15:38] Fyobl commented on #52
Sorry I didn’t get back to you.

I’m glad you have it working 👍

[2020-11-15 10:21] Gorbataras commented on #52
@frbuccoliero Hey, I'm still not able to get Big Sur booting. Getting a kernel panic even after doing the stuff that's recommended on the dortania guide for Big Sur. Can you share your efi?

[2020-11-15 11:10] frbuccoliero commented on #52
[OC.zip](https://github.com/jaromeyer/XPS9570-Catalina/files/5542252/OC.zip)

Here it is. I removed serial and the other "private" codes, make sure to change them with yours

[2020-11-15 11:25] Gorbataras commented on #52
Very odd, I still can't boot although I am not getting a kernel panic. I get past verbose boot and then get stuck on the Apple loading screen. I am curious if it's simply just my Big Sur install though because I am able to boot into Big Sur recovery partition.

[2020-11-15 11:28] frbuccoliero commented on #52
It happened to me too. Stay on that apple loading screen for like 20 minutes, then it reboots itself and finally booting big sur works

[2020-11-15 11:30] Gorbataras commented on #52
Is it that way on every boot?

[2020-11-15 11:31] frbuccoliero commented on #52
Ofc no, the first one only. Prob setting up things after the update

[2020-11-15 11:52] Gorbataras commented on #52
Alright well I had the reboot happen, but now I just get the same kernel panic I was getting as before. No idea why that's happening.

[2020-11-15 12:06] frbuccoliero commented on #52
Try posting your verbose

[2020-11-15 20:39] EKeepeer commented on #52
Hello. I cstill can't boot install of Big Sur even. Could you share your EFI?

[2020-11-15 21:26] frbuccoliero commented on #52
It's a couple messages up here.

[2020-11-15 21:29] EKeepeer commented on #52
Actually thank you. I've used your OC with patch on 4k dispaly - and installation is ok.
So I am making Time machine copy now to update my Catalina system.

[2020-11-16 07:33] EKeepeer commented on #52
It is working with your config!!!! Amazing!
I have only one issue - keyboard is not working but touchpad is ok. Backlite of keys is working. I have to use external keyboard. Could you advice hoe to fix it?

[2020-11-16 07:49] Fyobl commented on #52
Sounds like your missing a kext...

Can you post your Kexts list?

[2020-11-16 08:01] EKeepeer commented on #52
<img width="941" alt="Снимок экрана 2020-11-16 в 11 01 18" src="https://user-images.githubusercontent.com/51609601/99226617-1bb42f00-27fb-11eb-9b16-e2a90946b591.png">

[2020-11-16 08:03] EKeepeer commented on #52
I've transferred my previous kexts totally from Catalina - the same.
So what can be in config about keyboard?

[2020-11-16 08:48] Fyobl commented on #52
What version of opencore you using?

Have you updated all Kexts to latest?

[2020-11-16 08:51] EKeepeer commented on #52
0.6.3
All kexts are updated
Hmmmmm.

[2020-11-16 09:24] Gorbataras commented on #52
@frbuccoliero I'm not getting any KP logs saved.

[2020-11-16 09:32] Fyobl commented on #52
@EKeepeer i just checked and can see you have a few none updated Kexts.

When updating the voodoo Kexts make sure you update them all from the same package.

<img width="943" alt="Screenshot 2020-11-16 at 08 59 33" src="https://user-images.githubusercontent.com/66086323/99236034-90cd3780-27ee-11eb-92cb-22ccdeede186.png">

Here’s a run down of the newest versions.

[2020-11-16 09:32] frbuccoliero commented on #52
See [here](https://dortania.github.io/OpenCore-Install-Guide/troubleshooting/debug.html#config-changes)

[2020-11-16 09:33] Gorbataras commented on #52
@frbuccoliero Are you using debug or release?

[2020-11-16 09:34] Fyobl commented on #52
@EKeepeer also once you have made the changes make sure to clear NVRAM.

[2020-11-16 09:35] frbuccoliero commented on #52
I used release but debug would give more info of course

[2020-11-16 09:51] Gorbataras commented on #52
@frbuccoliero

[
[opencore-2020-11-16-094914.txt](https://github.com/jaromeyer/XPS9570-Catalina/files/5545454/opencore-2020-11-16-094914.txt)
](url)

[2020-11-16 10:26] EKeepeer commented on #52
All kexts are actual - checked.
I tried to analyze Voodoo kexts and found out interesting things:
1. No SSDT-PS2K.aml in ACPI. Should it be there?
2. Here is on screenshot from config by frbuccoliero - not working keyboard for me.
<img width="977" alt="Снимок экрана 2020-11-16 в 12 45 11" src="https://user-images.githubusercontent.com/51609601/99241553-11039500-280f-11eb-9e54-6bdfc642c813.png">
3.

[2020-11-16 13:09] EKeepeer commented on #52
My last chance was to update Voodoo kexts from official repo.
I didn't do it due to problems with touchpad - very ugly work.
Only kexts by LuletterSoul were perfect.

But in this case my keyborad begun to work.
So I will test touchpad then.

[2020-11-16 13:27] Fyobl commented on #52
With the second picture your see there 2 VoodooInput.kext I remember when I had both as enabled in config it wouldn’t boot into Big Sur so I disabled one of them.

Give this a try.

[2020-11-17 09:39] jaromeyer commented on #50
maybe have a look at #52

[2020-11-18 12:20] fireklomea opened #53 "Big Sur Freezing and Resetting"
Hi,
I just updated from Catalina to big sur, initially it wasn't updating, then in removed NoTouchID and it updated easily.
Now, my 4K laptop display stays black after it has installed. I attached it to an external screen but immediately after login. The system just freezes and resets.
Is this an issue with EDID injection and is there a guide on how to do it or is this something else?
Thanks

[2020-11-18 19:29] zordink96 opened #54 "7950 model"
Hi, this EFI folder works on the 7950 model?

[2020-11-19 03:41] yudshj commented on #53
same issue here

[2020-11-19 05:37] lawilson97 opened #55 "Trackpad only works sometimes"
XPS 15 9570: 8750H, 16GB 2667MHz RAM, Catalina 10.15.7, DW1560.

- Trackpad is registered in settings and I can change options. It rarely works however.
- The prtscr DOES disable WiFi/BT for me, rather than what you said with disabling/enabling the trackpad.
- If I press the insert key, everything goes black and messes up, forcing me to restart.

[2020-11-19 05:40] techsnakebo opened #56 "Screen patch important for 4k models."
Sorry where can I get info of this patch?

I have a 9570 4K running Catalina, and don't remember any 4K patch

Thank you

[2020-11-19 06:11] ghost commented on #56
If you used this EFI folder, there is no 4K patch, you just rename the 4K config to config.plist and delete the FHD one.

[2020-11-19 14:19] techsnakebo commented on #56
Thanks... thats why I do not remember that patch because I used the 4k plist from begining

[2020-11-19 14:23] techsnakebo commented on #52
After read all of your posts and your experiences  I'm wondering if there is a files compilation and some step by step tutorial to upgrade safely to bigsur

Thanks a lot

[2020-11-19 14:51] Fyobl commented on #56
The patch is something you apply yourself separately from the EFI you download here.

@jaromeyer can you supply a guide on how to do this as it seems lots of people are asking.

[2020-11-19 14:53] Fyobl commented on #55
Have you got the 4K laptop?

I had a similar issue but after disabling touch screen screen writhing works fine.

[2020-11-19 15:01] EKeepeer commented on #52
Actually there is OC.zip by frbuccoliero (respect for work).
It is working with patch for 4k for me.

[2020-11-19 15:27] techsnakebo commented on #52
is That patch the original config_4k.plist by jaromeyer ?
if yes.. did you made additional modifications to that plist?

[2020-11-19 15:43] jaromeyer commented on #54
You can try, but it wasnt made for the 7950

[2020-11-19 16:46] frbuccoliero commented on #52
My OC efi is not Jaro's . It has been made from scratch based on OC 0.6.3 since Jaro's is over OC 0.5.1 and Big Sur 11.0.1 will not work under that older OC version, at least for me

[2020-11-19 16:57] eeonee commented on #52
Can you post the OC ?

[2020-11-19 16:57] BearXVibes commented on #52
Can you post the OC ? zip folder?

[2020-11-19 16:58] frbuccoliero commented on #52
Its's [here](https://github.com/jaromeyer/XPS9570-Catalina/issues/52#issuecomment-727552687)

[2020-11-19 18:13] EKeepeer commented on #52
4k patch for config.plist is here https://github.com/jaromeyer/XPS9570-Catalina/issues/50
I've got stucked boot without it.

[2020-11-19 21:46] ghost commented on #55
This seems to hae worked. What is up with that though?

[2020-11-20 01:52] fireklomea commented on #53
Hi,
I just wanted to update everyone who has this issue. I solved the issue. I just patched my EDID with the following link, it's quite easy to follow:
https://www.tonymacx86.com/threads/solved-guide-workaround-for-cdfon.306154/
The only issue is that I believe the refresh rate is 48hz. Is there any fixes for this?

[2020-11-20 02:05] fireklomea commented on #53
Also, i can't seem to make the external display work anymore. The main laptop display is working fine, the external display is just coming black. Do I have to add the EDID for this display as well? And is it added in the same way with AAPL00,override?

[2020-11-20 04:17] fireklomea commented on #53
Hi,
False alarm, the HDMI external screen is working alright, there was just an issue with the screen itself.
The only thing i'm wondering now is that whether it is possible to run the laptop 4K screen at full 60hz?

[2020-11-20 06:34] Fyobl commented on #55
Not sure. I think it’s something to do with the kexts or maybe power management. Haven’t quite figured it out myself yet.

[2020-11-20 06:36] Fyobl commented on #53
It’s not possible at the moment I believe... only 48mhz

[2020-11-20 07:31] #53 closed

[2020-11-20 08:47] mattclarkradio commented on #56
I am also having issues with this on my 4k 9570... I've tried applying my EDID patch but I can't seem to get it working. Big Sur is installed and boots OK, everything working well with an external 4k monitor! A guide would be amazing but understand people have jobs as well!!

[2020-11-20 08:59] Fyobl commented on #56
Try following this guide

https://www.tonymacx86.com/threads/solved-guide-workaround-for-cdfon.306154/

[2020-11-21 05:47] zhongmax commented on #52
It works for FHD
Thank you so much : >

[2020-11-23 09:20] Skraldefar commented on #50
This worked. Thank you :)

[2020-11-23 09:20] #50 closed

[2020-11-26 18:57] ste362 opened #57 "Big Sur KP (missing itlwm?)"
When I start big sur the progress bar stops the dispay flashing a litle bit and after this reboot. Were is the problem?

[2020-11-26 19:56] Fyobl commented on #57
Have you got the 4K screen?

[2020-11-26 20:17] ste362 commented on #57
No full hd

[2020-11-27 07:14] Fyobl commented on #57
Does it show anything when you run it in verbose mode?

[2020-11-27 13:37] ste362 commented on #57
One week ago yes but I tried a lot of EFI and now with jaromeyer not start nothing

[2020-11-27 14:16] jaromeyer commented on #57
try the EFI.zip @frbuccoliero posted in #52

[2020-11-27 14:34] ste362 commented on #57
I already tried with this. BigSur start just one times at the second start do the same error
[panic-2020-11-27-154200.txt](https://github.com/jaromeyer/XPS9570-Catalina/files/5608352/panic-2020-11-27-154200.txt)

[2020-11-27 15:08] jaromeyer commented on #57
what wifi card are you using?

[2020-11-27 15:10] ste362 commented on #57
intel 9260

[2020-11-27 15:33] jaromeyer commented on #57
well, that aint gonna work without modifying the EFI. disable wifi and BT in your BIOS and try again.

[2020-11-27 15:41] ste362 commented on #57
THANKS now work!!!!! But for use WiFi what i do?

[2020-11-27 16:02] Fyobl commented on #57
Check here this might help

https://github.com/OpenIntelWireless/itlwm

[2020-11-27 16:05] ste362 commented on #57
Ok Thank at all for the support. But why at Kevin Shroff start with Intel9260?

[2020-11-29 18:53] techsnakebo commented on #52
Is your wifi/bt a broadcom card or is it intel??

[2020-11-29 18:56] techsnakebo commented on #52
is this EFI for a broadcom wifi card ? mine is BCM4360

[2020-11-29 18:57] frbuccoliero commented on #52
I have a DW1820A

[2020-12-05 17:41] CarstenK1 commented on #56
@Fyobl For me the solution does not work. I have the 4K version and System was crashing after start up with graphic error.  I added the edID to the config and the system does not crash anymore, but the built in display stays dark after half of boot. I can work only on a external display. I have the original configuration like this repo except I updated to openencore 6.3 since 6.1  didn't work for

[2020-12-06 09:22] Fyobl commented on #56
@CarstenK1 i have stayed on 0.6.1 as I have a stable build. So I wouldn’t know if anything has changed in recent updates.

You sure you have patched your EDID correctly? Have you disabled nvidia gpu?

[2020-12-06 10:01] CarstenK1 commented on #56
@Fyobl Will retry today. In fact I tried a different way for the EDID. I've bootet my catalina an got the EDID from the hackintool. From my understanding the EDID should be in every OS the same. I'will create now an USB Linux Stick to see if it's the same EDID. The config I have now, runs fine with Catalina only Big Sur have display issues. The plist shows:

I've passed now additional boot flag in

[2020-12-06 14:38] CarstenK1 commented on #56
@Fyobl So now I exactly followed the instructions. Bootet into linux, created the file and executed the python script. Yep I got a different value that from the hackintool before. I've added it to the plist and tried again to boot Big Sur. Something changed now.... the internal display does not freeze anymore.. it turn just to black... how can I verify if nvidia gpu is disabled?

Update: tried wit

[2020-12-06 16:07] Fyobl commented on #56
@CarstenK1 im sure you have to change the EDID to hex or something before you add it to your plist.

@jaromeyer could you confirm the steps on this?

[2020-12-06 16:30] CarstenK1 commented on #56
@Fyobl it looks now like this:

`<data>00FFFFFFFFFFFF004D108D1400000000051C0104A52213780EAD8BA95335BC250C515300000001010101010101010101010101010101A6A600A0F0703E803020350058C210000018000000000000000000000000000000000000000000FE00464E564452804C513135364431000000000002410328011200000B010A20200024</data>`

This is exact the value I got from the python script

[2020-12-07 13:45] CarstenK1 commented on #56
@jaromeyer @Fyobl  I did some tests today. And it seems something is not working with the EDID at all. I replaced my system to a working Catalina Version based on this repo and for testing I added the EDID to the config. As soon I have a EDID in the config the internal screens stays black, also with Catalina. Either the process of creating the EDID is wrong or it is some other issues. And what als

[2020-12-07 14:47] CarstenK1 commented on #56
Update: I tried also to use the hex EDID I got from the terminal in Catalina. I added that to the config for testing and even than Catalina stays black. How can this be? A display working and if I add the EDID of this working display it does not work on reboot anymore.

[2020-12-07 15:29] Fyobl commented on #56
What have you got set as your boot args?

[2020-12-09 11:38] CarstenK1 commented on #56
@Fyobl Fixed it and it is working now. But need to test what was the fix. I added the EDID as base64 to the plist and I missed the latest BIOS Update, which I installed. Will remove the EDID later to see what happens.

[2020-12-09 11:46] Fyobl commented on #56
@CarstenK1 glad you have it working.

What version BIOS was you on?

Try to leave as much information on your testing and fix so other can follow 😊

[2020-12-09 14:23] CarstenK1 commented on #56
@Fyobl I don't think it was related to the BIOS. It's about the right EDID. I couldn't find a good documentation how the EDID should look like .. is it HEX or base64... so before I installed the update (after rollback) I obtained the EDID by a script in Catalina -> https://github.com/xxxzc/xps15-9570-macos/blob/master/update.py (I just extracted the part for EDID) ...the Hex Value seems to be the

[2020-12-11 18:04] techsnakebo commented on #52
Someone safely upgraded from catalina to bigsur using opencore 0.6.4 new patches??
and with 4K screen?

[2020-12-13 06:30] ghost commented on #55
Hi there,

I am reopening this issue because I am having the same issue despite using the non-touchscreen .aml - even though it has worked fine for ages now. I just can't figure it out. The trackpad won't work from a cold boot, I have to restart the laptop and then it'll work perfectly fine.

Cheers

[2020-12-13 07:27] Fyobl commented on #55
What version OC you on?

What Version Kexts have you got for trackpad?

What’s not working? Does it move at all? Does it jump round the screen?

If it’s working after reboot then it sounds like the kext isn’t loading on first boot.

[2020-12-13 07:53] ghost commented on #55
I am on 0.6.4 and whichever trackpad kexts are included in this EFI folder. It doesn't move at all, it just stays in the top-left corner under the apple logo.

[2020-12-13 10:34] Fyobl commented on #55
I haven’t tested 0.6.4 with latest kexts.

I stayed on 0.6.1 as I was stable and working.

Try rolling back to 0.6.1 and use older kexts.

[2020-12-17 07:56] imraan-go commented on #48
This https://github.com/acidanthera/WhateverGreen/commit/9b68d9fba30a08f72dfbfe4cf82f674039f531ac shoud fix the issue. @jaromeyer Can you the master branch of WEG a try?

[2020-12-17 09:53] jaromeyer commented on #48
@imraan-go thanksfor the heads up. i will have a look at it.

[2020-12-20 12:28] jaromeyer commented on #57
he mentioned that he did some changes for his intel card

[2020-12-20 12:28] #57 closed

[2020-12-20 12:28] #54 closed

[2020-12-20 12:28] #36 closed

[2020-12-20 12:30] jaromeyer commented on #52
@techsnakebo check out [this repo](https://github.com/xxxzc/xps15-9570-macos). just follow the instructions and you shouldn't be having any problems

[2020-12-21 09:57] #52 closed

[2020-12-23 09:52] imraan-go commented on #34
macOS Big Sur fixes this issue. Just use the latest WEG and boot arg "igfxfw=2"

[2021-01-14 16:28] techsnakebo opened #58 "Beware with Combojack Patch, it comes with a malware!"
Beware with this fix

**🔈 Audio
By default, the audio can be a bit buggy. When using headphones, after some time the audio randomly stops. Sometimes un- and replugging the headphones works, but that's pretty annoying and unreliable. To permanently fix this issue you will have to install ComboJack from the tools folder by running install.sh**

Combojack patch have a malware in VerbStub.kext, this w

[2021-01-14 17:31] Fyobl commented on #58
Have you screenshots of cleanmymac results?

[2021-01-17 22:51] techsnakebo commented on #58
Sorry I don't, I did not captured the screen

But trust me.. after uninstalling the combojack patch.. and install the other patch my PC now is running great mainly the battery performace, the cooling fans and memory

[2021-01-17 23:29] Fyobl commented on #58
I personally never installed the Combojack patch so I wouldn’t know about this but maybe if someone here does have it installed and could confirm this ?

@frbuccoliero maybe you can help?

[2021-01-18 11:22] frbuccoliero commented on #58
I have installed it but noticed no CPU stress nor high RAM usage.
I contacted Jaro who told me that kext was taken from the original source but replacing it might be good if there's this threat.

[2021-01-28 19:56] jonaolden commented on #58
Here's a screenshot

![image](https://user-images.githubusercontent.com/20564977/106191554-4c292980-61ab-11eb-806b-93b8116941e7.png)

[2021-01-28 20:31] BearXVibes commented on #58
False Positive

On Thu, Jan 28, 2021 at 7:57 PM jonaolden <notifications@github.com> wrote:

--
Kind Regards,

[2021-01-29 16:08] Fyobl opened #59 "SD card reader"
Haven’t needed to use this before so never noticed it but I have started playing around with Raspberry Pi hardware and wanted to flash a SD card but when I plug into the laptop I get nothing...

anyone had this issue?

Did I miss something from the configuration?

[2021-01-29 16:11] frbuccoliero commented on #59
Have you installed the Sinatek kext and added the  -rtsx_mimic_linux  flag in boot args?

[2021-01-29 16:19] Fyobl commented on #59
@frbuccoliero

No...

I don’t remember seeing this on the guide.

Where do I find all this?

[2021-01-29 16:46] frbuccoliero commented on #59
It probably shoud have been included in the readme but it wasn't. Does it work now?

[2021-01-29 19:14] Fyobl commented on #59
@frbuccoliero

Looks like I already had the kext on my EFI so I just added the boot arg -rtsx_mimic_linux but still not seeing it on either windows or Mac OS.

[2021-01-29 20:02] frbuccoliero commented on #59
It is pretty strange. It should work in windows at least. For me it worked in windows before applying the kext. Make sure it’s all right
Il 29 gen 2021, 20:14 +0100, Fyobl <notifications@github.com>, ha scritto:

[2021-01-29 20:16] Fyobl commented on #59
I’m convinced it’s my SD port possibly damaged.

nothings I’m doing seems to see it.

can you show me it in your device managers list on windows?

[2021-01-29 20:24] frbuccoliero commented on #59
I don’t have windows anymore
Il 29 gen 2021, 21:16 +0100, Fyobl <notifications@github.com>, ha scritto:

[2021-01-29 20:31] Fyobl commented on #59
@frbuccoliero

Well for now I’m going to buy a SD card reader.

thanks anyway 👍

[2021-01-29 20:35] frbuccoliero commented on #59
You're welcome. Close the issue

[2021-01-29 20:37] #59 closed

[2021-01-30 15:22] jaromeyer commented on #59
also check if you havent disabled it in the BIOS, but if it doesnt work on windows its not a kext issue

[2021-01-30 18:52] Fyobl commented on #59
@jaromeyer thats a valid point! I’ll check this and report back!

[2021-01-30 23:19] Fyobl commented on #59
@jaromeyer
@frbuccoliero

It was disabled in BIOS. All sorted thank you guys 💯

[2021-02-13 05:44] saadqazi1994 opened #60 "Dimmed Brightness on boot OC 0.6.6"
Hello,
I upgraded to OC 0.6.6 but every time I boot my 9570 hackintosh into big sur, my screen is completely dimmed, extremely low brightness that cannot even be influenced by the brightness keys. Nothing seems to raise the brightness.
I have to put the computer to sleep by pressing the power button, close the lid of my screen, wait till all the fans turn off and then open the lid again. This is t

[2021-02-13 19:26] jaromeyer commented on #60
hey, i have just updated everything to OC 0.6.6 and I'm currently working on updating this repo. Maybe give it a try once I've uploaded everything. also try a NVRAM reset

[2021-02-13 22:59] Fyobl commented on #60
@jaromeyer

And he’s back!

looking forward to seeing what happens next on here 👍

[2021-02-13 23:10] #58 closed

[2021-02-13 23:10] #56 closed

[2021-02-13 23:29] saadqazi1994 commented on #60
Okay, thanks a lot. I’ll wait for your update

[2021-02-14 06:26] saadqazi1994 commented on #60
With the new update, my problem has been solved.
Thanks

[2021-02-14 06:26] #60 closed

[2021-03-05 01:43] craigmediaservices opened #61 "Installer Crashes 50% Through GUI"
I'm able to boot the initial USB and start the install to disk, but it crashes about 50% through the install.

Now what's strange is I was able to install just fine to an external USB drive using your EFI.

Anyone had a similar issue? Maybe a problem with the stock Dell drive?

[2021-03-06 12:42] jaromeyer commented on #61
Sounds like you have a model with the Samsung PM981 SSD. Unfortunately I don't know of any way to make it work reliably. Your best option is replacing it with any M.2 SATA or a supported M.2 NVMe drive.

[2021-03-20 08:09] khoa-nv opened #62 "Mapping keyboard issue"
I cannot type ` and ˜, it replaced by § and ±. Did anyone get the same problem with me? and how can I fix this?

[2021-03-21 17:14] #62 closed

[2021-03-21 18:17] toonvanstrijp commented on #62
@khoa-nv how did you fix it?

[2021-03-22 06:59] khoa-nv commented on #62
Change the keyboard type to ISO (European) can fix it. Go to the System preferences => Keyboard => Change keyboard type, and select ISO (European) at the last step.

[2021-03-22 19:34] Drowningfish223 commented on #18
Same here-I'm going to try disabling SMCdellsensors.kext

[2021-03-28 10:57] maghsk opened #63 "keyboard issue: type ~ but shows ±"
When I want to type ~, MacOS shows ± for me.
Both in terminal and text editor.
Maybe it  is related to the keyboard layout?

[2021-04-01 12:29] jaromeyer commented on #63
the easiest way to remap certain keys is to do it inside macOS using [Karabiner](https://karabiner-elements.pqrs.org)

[2021-04-02 00:01] yudshj commented on #63
Thanks. According to Karabiner-EventViewer, the reason is that `grave_accent_and_tilde` mapped to `non_us_backslash`.

[2021-04-02 13:13] jaromeyer commented on #63
You could also do it in the `SSDT-PS2K.aml` but I prefer only doing basic remapping there (swap alt and cmd, function keys, fix play/pause while using Karabiner) and more high level stuff for your keyboard layout with Karabiner.

[2021-04-02 13:13] #63 closed

[2021-04-03 16:48] hypafly commented on #1
Hello, I couldnt find the script to disable the touchscreen

I only saw this

defaults write -g CGFontRenderingFontSmoothingDisabled -bool NO and this for the font smoothning

[2021-04-06 12:39] jaromeyer commented on #1
@hypafly shouldnt be required anymore to save battery

[2021-04-06 12:40] jaromeyer commented on #63
@maghsk btw #62 is the same exact issue and probably the correct way of fixing it

[2021-04-06 12:42] jaromeyer commented on #18
@Drowningfish223 im pretty sure this wont help since the fans are controlled by the BIOS firmware. But undervolting really solved the problem for me. Now my fans stay turned off most of the time

[2021-05-05 08:01] ALange opened #64 "External USB-C HUB (DELL D6000) freeze randomly"
Great work! i got it all working without major problems but there is one thing that you may look into.

While connecting DELL D6000 works fine (all ports works, no troubles here) it freezes in random ocasions, and without any specific reason (during normal work). There is no interesting info in dmesg while it freezes.

It may be something with USB-C drivers (mapping?)

[2021-05-19 15:41] jaromeyer commented on #64
The same thing also happens with a cheap USB2.0 hub connected to any port. Unfortunately I have no idea why this is happening. For now I'm just avoiding using hubs and connecting my peripherals directly.

[2021-05-31 16:54] mandroid19 opened #65 "iMessage doesn't work, other Apple services do"
I completed, the guide on how to get apple services and imessage work. Apple services like icloud and other stuff started working, but imessage logs me out after 10 seconds always. Anyone experienced that? How can I solve it?

[2021-05-31 16:58] frbuccoliero commented on #65
At the moment the most in depth guide to get imessage working is the one in the readme . If everything else just works try again [deleting everything including all the keychain stuff](https://dortania.github.io/OpenCore-Post-Install/universal/iservices.html) and rebooting before doing the setup from scratch

[2021-05-31 18:40] mandroid19 commented on #65
Thanks for the quick answer. I have tried again, but imessage still not
working... Maybe it is because my serial isn't valid.
I will try again hope i can find a purchase date not verified serial
Thanks!

On Mon, May 31, 2021, 18:58 Francesco Buccoliero ***@***.***>
wrote:

[2021-05-31 19:11] frbuccoliero commented on #65
Yeah delete everything and start with a fresh serial

[2021-06-09 13:16] mackyoso opened #66 "Bluetooth Works But Wifi is Not Working"
Im Using OC BigSur 11.4 can you please help me

[2021-06-10 21:42] okbrown opened #67 "Wake from Usb Keyboard?"
Any clues on how to wake from sleep using a USB keyboard?

[2021-06-25 22:03] jaromeyer commented on #67
Unfortunately, I also have to open the lid and press a key on the built-in keyboard to wake my laptop when docked. Im currently building a new EFI from scratch for Monterey. Will report back if something changes.

[2021-06-25 22:07] jaromeyer commented on #66
First of all, make sure its enabled in your BIOS. Ive never used this exact card myself, maybe you need to install additional drivers under Windows. For macOS, try disabling both entries under Kernel>Force in your config.

[2021-07-09 12:30] EmsonJones opened #68 "open core failed to load configuration"
Hi

I am Facing this issue with OC 0.7.1 Please help
![WhatsApp Image 2021-07-09 at 5 46 31 PM](https://user-images.githubusercontent.com/87187279/125078040-7c241380-e0df-11eb-9bce-04665b4010ae.jpeg)

[2021-07-14 11:27] jaromeyer commented on #68
Make sure that the file `config.plist` exists in the right folder. Depending on which screen your XPS has, you have to rename either `config_fhd.plist`or `config_4k.plist`to `config.plist`. OpenCore will always try to load a file named `config.plist`

[2021-08-24 15:01] wtdcode commented on #62
Strange, I never get this problem in some other config. Did you figure out why the keyboard layout is wrong?

[2021-12-11 04:21] leeroy-code opened #70 "dw1830 airdrop does not work under catalina"
dw1830 airdrop does not work under catalina, I tried to reinstall but it does not seem to work

[2022-01-05 02:10] mingming90 opened #71 "Black screen laptop when connect external monitor via type c port"
Hi @jaromeyer,
i'm having a problem when connecting to an external monitor via USB-C port, no matter attach the cable before or after boot to Big Sur. It's still regconize 2 screen but my laptop screen will only in black, cannot be used and even still black when i'm disconnect the external monitor. Need to restart to get it gone. Do yo know why?
Thanks,

[2022-02-15 23:08] wtdcode commented on #71
Same here.

[2022-02-15 23:59] wtdcode commented on #71
Same here. Did you solve it?

[2022-08-04 21:44] Magister commented on #70
Try MacBookPro14,3 instead of MacBookPro15,1